{% extends "layouts/back-office.html" %}

{% set pageName = "Home" %}

{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>


<div class="govuk-grid-row">


<span class="govuk-caption-l">CROWN/2025/0000010</span>
<h1 class="govuk-heading-l">Check applicant details</h1>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Applicant 1
        </dt>
        <dd class="govuk-summary-list__value">
            Department for Transport<br>
            Great Minster House<br>
            33 Horseferry Road<br>
            London<br>
            SW1P 4DR<br>
        </dd>
        <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
                
                <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> contact
                            details</span></a>
                </li>
            </ul>
        </dd>
    </div>
</dl>
<a href="5-add-applicant.html" class="govuk-button govuk-button--secondary">Add another</a><br>

<a href="" class="govuk-button">Save</a>

</div>



{% endblock %}