<nav class="moj-side-navigation" aria-label="Side navigation" style="padding-top: 0px !important;">
  <ul class="moj-side-navigation__list">

    <li class="moj-side-navigation__item {% if currentPage == 'overview' %}moj-side-navigation__item--active{% endif %}">
      <a href="/user-testing/bo-redesign/v1/back-office/manage-application" {% if currentPage == 'overview' %} aria-current="location" {% endif %}>Overview</a>
    </li>

    <li class="moj-side-navigation__item {% if currentPage == 'details' %}moj-side-navigation__item--active{% endif %}">
      <a href="/user-testing/bo-redesign/v1/back-office/manage/details" {% if currentPage == 'details' %} aria-current="location" {% endif %}>Details</a>
    </li>

    <li class="moj-side-navigation__item {% if currentPage == 'documents' %}moj-side-navigation__item--active{% endif %}">
      <a href="/user-testing/bo-redesign/v1/back-office/manage/documents" {% if currentPage == 'documents' %} aria-current="location" {% endif %}>Documents</a>
    </li>

    <li class="moj-side-navigation__item {% if currentPage == 'updates' %}moj-side-navigation__item--active{% endif %}">
      <a href="/user-testing/bo-redesign/v1/back-office/manage/updates" {% if currentPage == 'updates' %} aria-current="location" {% endif %}>Application updates</a>
    </li>

    <li class="moj-side-navigation__item {% if currentPage == 'contacts' %}moj-side-navigation__item--active{% endif %}">
      <a href="/user-testing/bo-redesign/v1/back-office/manage/contacts" {% if currentPage == 'contacts' %} aria-current="location" {% endif %}>Contacts</a>
    </li>

    <li class="moj-side-navigation__item {% if currentPage == 'dates' %}moj-side-navigation__item--active{% endif %}">
      <a href="/user-testing/bo-redesign/v1/back-office/manage/dates" {% if currentPage == 'dates' %} aria-current="location" {% endif %}>Dates</a>
    </li>

    <li class="moj-side-navigation__item {% if currentPage == 'representations' %}moj-side-navigation__item--active{% endif %}">
      <a href="/representations" {% if currentPage == 'representations' %} aria-current="location" {% endif %}>Manage representations</a>
    </li>

    <li class="moj-side-navigation__item {% if currentPage == 'case-team' %}moj-side-navigation__item--active{% endif %}">
      <a href="/user-testing/bo-redesign/v1/back-office/manage/case-team" {% if currentPage == 'case-team' %} aria-current="location" {% endif %}>Case team</a>
    </li>

    <li class="moj-side-navigation__item {% if currentPage == 'eia' %}moj-side-navigation__item--active{% endif %}">
      <a href="/user-testing/bo-redesign/v1/back-office/manage/eia" {% if currentPage == 'eia' %} aria-current="location" {% endif %}>Environmental impact assessment</a>
    </li>

    <li class="moj-side-navigation__item {% if currentPage == 'procedure' %}moj-side-navigation__item--active{% endif %}">
      <a href="/user-testing/bo-redesign/v1/back-office/manage/procedure" {% if currentPage == 'procedure' %} aria-current="location" {% endif %}>Procedure</a>