{% extends "user-testing/bo-redesign/v1/layouts/back-office.html" %}
{% set currentArea = "cases" %}
{% set currentPage = "details" %}

{% block content %}

<a href="/user-testing/bo-redesign/v1/back-office/cases" class="govuk-back-link">Back to all cases</a>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

        {% include "/user-testing/bo-redesign/v1/components/side-nav/side-nav.njk" %}
    </div>

    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">CROWN/2025/0000073</span>
        <h1 class="govuk-heading-l">Details</h1>

        <h2 class="govuk-heading-m">Last updated</h2>
        <p class="govuk-body">10:08 17 February 2026</p>
        <p class="govuk-body">
            <a class="govuk-link" href="">
                <span class="govuk-visually-hidden">(Details)</span>
            </a>
        </p>
        <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">

        <h2 class="govuk-heading-m">Category</h2>
        <p class="govuk-body">-</p>
        <p class="govuk-body">
            <a class="govuk-link" href="">
                Edit<span class="govuk-visually-hidden">
                    What is the application category? (Details)</span>
            </a>
        </p>
        <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">

        <h2 class="govuk-heading-m">Procedure</h2>
        <p class="govuk-body">-</p>
        <p class="govuk-body">
            <a class="govuk-link" href="">
                Edit<span class="govuk-visually-hidden">
                    What is the application procedure? (Details)</span>
            </a>
        </p>
        <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">

        <h2 class="govuk-heading-m">Status</h2>
        <p class="govuk-body">New</p>
        <p class="govuk-body">
            <a class="govuk-link" href="">
                Edit<span class="govuk-visually-hidden">
                    What is the application status? (Details)</span>
            </a>
        </p>
        <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">

        <h2 class="govuk-heading-m">Stage</h2>
        <p class="govuk-body">-</p>
        <p class="govuk-body">
            <a class="govuk-link" href="">
                Edit<span class="govuk-visually-hidden">
                    What is the application stage? (Details)</span>
            </a>
        </p>
        <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">

        <h2 class="govuk-heading-m">LPA reference</h2>
        <p class="govuk-body">-</p>
        <p class="govuk-body">
            <a class="govuk-link" href="">
                Edit<span class="govuk-visually-hidden">
                    What is the LPA reference for this application? (Details)</span>
            </a>
        </p>
        <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">

        <h2 class="govuk-heading-m">Distressing content</h2>
        <p class="govuk-body">-</p>
        <p class="govuk-body">
            <a class="govuk-link" href="">
                Edit<span class="govuk-visually-hidden">
                    Does this application involve potentially distressing content? (Details)</span>
            </a>
        </p>
        <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">

        <h2 class="govuk-heading-m">Nationally important</h2>
        <p class="govuk-body">-</p>
        <p class="govuk-body">
            <a class="govuk-link" href="">
                Edit<span class="govuk-visually-hidden">
                    Is this application nationally important? (Details)</span>
            </a>
        </p>
        <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">

        <h2 class="govuk-heading-m">Nationally important confirmation date</h2>
        <p class="govuk-body">-</p>
        <p class="govuk-body">
            <a class="govuk-link" href="">
                Edit<span class="govuk-visually-hidden">
                    What date was national importance confirmed? (Details)</span>
            </a>
        </p>
        <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">

        <h2 class="govuk-heading-m">Green belt</h2>
        <p class="govuk-body">-</p>
        <p class="govuk-body">
            <a class="govuk-link" href="">
                Edit<span class="govuk-visually-hidden">
                    Is the proposed development in green belt land? (Details)</span>
            </a>
        </p>
        <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">

        <h2 class="govuk-heading-m">Site is visible from public land</h2>
        <p class="govuk-body">-</p>
        <p class="govuk-body">
            <a class="govuk-link" href="">
                Edit<span class="govuk-visually-hidden">
                    Is the site visible from public land? (Details)</span>
            </a>
        </p>
        <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">

        <h2 class="govuk-heading-m">Health and safety issues</h2>
        <p class="govuk-body">-</p>
        <p class="govuk-body">
            <a class="govuk-link" href="">
                Edit<span class="govuk-visually-hidden">
                    What are the health and safety issues for the site? (Details)</span>
            </a>
        </p>
        <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">

        <h2 class="govuk-heading-m">CIL liable</h2>
        <p class="govuk-body">-</p>
        <p class="govuk-body">
            <a class="govuk-link" href="">
                Edit<span class="govuk-visually-hidden">
                    Is the application liable for the Community Infrastructure Levy (CIL)? (Details)</span>
            </a>
        </p>
        <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">

        <h2 class="govuk-heading-m">BNG exempt</h2>
        <p class="govuk-body">-</p>
        <p class="govuk-body">
            <a class="govuk-link" href="">
                Edit<span class="govuk-visually-hidden">
                    Is the application exempt from biodiversity net gain (BNG)? (Details)</span>
            </a>
        </p>
        <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">

        <h2 class="govuk-heading-m">Costs application(s)</h2>
        <p class="govuk-body">-</p>
        <p class="govuk-body">
            <a class="govuk-link" href="">
                Edit<span class="govuk-visually-hidden">
                    Are there any costs applications? (Details)</span>
            </a>
        </p>
        <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">

        <h2 class="govuk-heading-m">Environmental Impact Assessment (EIA) development</h2>
        <p class="govuk-body">-</p>
        <p class="govuk-body">
            <a class="govuk-link" href="">
                Edit<span class="govuk-visually-hidden">
                    Is this application an Environmental Impact Assessment (EIA) development? (Details)</span>
            </a>
        </p>
        <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">

        <h2 class="govuk-heading-m">Development plan</h2>
        <p class="govuk-body">-</p>
        <p class="govuk-body">
            <a class="govuk-link" href="">
                Edit<span class="govuk-visually-hidden">
                    Does this application accord with the development plan? (Details)</span>
            </a>
        </p>
        <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">

        <h2 class="govuk-heading-m">Right of way</h2>
        <p class="govuk-body">-</p>
        <p class="govuk-body">
            <a class="govuk-link" href="">
                Edit<span class="govuk-visually-hidden">
                    Does this application affect a right of way? (Details)</span>
            </a>
        </p>

    </div>

</div>

{% endblock %}