{% extends "layouts/main.njk" %}

{% set pageName = "Back office redesign" %}

{% block beforeContent %}
  {% include "components/phase-banner/prototype.html" %}  
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Back office designs</h1>
<ul claass="govuk-list govuk-list--bullet">
  
  <li class="govuk-list-item"><a href="v1/back-office/cases.html" class="govuk-link">Option 1</a></li>
  <li class="govuk-list-item"><a href="v2/back-office/cases.html" class="govuk-link">Option 2</a></li>
</ul>

{% endblock %}