{% extends "user-testing/bo-redesign/v2/layouts/back-office.html" %}
{% set currentArea = "cases" %}
{% set currentPage = "fee" %}

{% block content %}




<div class="govuk-grid-row">
    <div class="govuk-grid-column"><a href="/user-testing/bo-redesign/v2/back-office/cases" class="govuk-back-link">Back to all cases</a>

        {% include "/user-testing/bo-redesign/v2/components/side-nav/side-nav.njk" %}
        <span class="govuk-caption-l">CROWN/2025/0000073</span>
        <h1 class="govuk-heading-l">Fee</h1>

        {% from "/user-testing/bo-redesign/v2/components/manage-tables/dates-table.njk" import
        datesTable %}

        {% set rows = [
        {

        "key": "Fee amount",
        "value": "£1.00",
        "actions": [
        {
        "text": "Change",
        "href": "",
        "visuallyHidden": "date"
        }
        ]
        },
        {
        "key": "Fee received date",
        "value": "1 January 2025",
        "actions": [
        {
        "text": "Change",
        "href": "",
        "visuallyHidden": "date"
        }
        ]
        },
        {
        "key": "Fee refund amount",
        "value": "£10.00",
        "actions": [
        {
        "text": "Change",
        "href": "",
        "visuallyHidden": "date"
        }
        ]
        },
        {
        "key": "Fee refund date",
        "value": "1 December 2026",
        "actions": [
        {
        "text": "Change",
        "href": "",
        "visuallyHidden": "date"
        }
        ]
        }
        ] %}

        {{ datesTable(rows) }}

    </div>

</div>

{% endblock %}