{% extends "features/bo-redesign/v3/layouts/back-office.html" %}
{% set currentArea = "cases" %}
{% set currentPage = "case-team" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column"><a href="/features/bo-redesign/v3/back-office/cases" class="govuk-back-link">Back to
            all applications</a>

        <h1 class="govuk-heading-l">CROWN/2025/0000073</h1>

        <button class="govuk-button">Publish application</button>

        <h2 class="govuk-heading-m">External links</h2>
        <ul class="govuk-list ">
            <li class="govuk-link">
                <a class="external"
                    href="https://pinso365.sharepoint.com/sites/CrownDevelopmentsDevSite1/Crown%20Developments/Forms/AllItems.aspx?FolderCTID=0x0120002AEB4E42385D4248BC40ED69E7C865EE&id=%2Fsites%2FCrownDevelopmentsDevSite1%2FCrown%20Developments%2FCROWN%2D2026%2D0000076"
                    {% if currentPage=='documents' %} aria-current="location" {% endif %}>Sharepoint documents</a>
            </li>
            <li class="govuk-link">
                <a class="external" href="" {% if currentPage=='notify' %} aria-current="location" {% endif %}>GOV.UK
                    Notify</a>
            </li>
        </ul>

        {% include "/features/bo-redesign/v3/components/side-nav/side-nav.njk" %}


        {% from "/features/bo-redesign/v3/components/manage-tables/dates-table.njk" import
        datesTable %}

        {% set rows = [
        {

        "key": "Inspector 1",
        "value": "Tom Reeves",
        "actions": [
        {
        "text": "Change",
        "href": "",
        "visuallyHidden": "date"
        }
        ]
        },
        {
        "key": "Inspector 2",
        "value": "Danielle Hughes",
        "actions": [
        {
        "text": "Change",
        "href": "",
        "visuallyHidden": "date"
        }
        ]
        },
        {
        "key": "Inspector 3",
        "value": "-",
        "actions": [
        {
        "text": "Change",
        "href": "",
        "visuallyHidden": "date"
        }
        ]
        },
        {
        "key": "Case officer",
        "value": "Brogan Andrews",
        "actions": [
        {
        "text": "Change",
        "href": "",
        "visuallyHidden": "date"
        }
        ]
        },
        {
        "key": "Assessor inspector",
        "value": "Katie Wilson",
        "actions": [
        {
        "text": "Change",
        "href": "",
        "visuallyHidden": "date"
        }
        ]
        },
        {
        "key": "Planning officer",
        "value": "Alex Boyd",
        "actions": [
        {
        "text": "Change",
        "href": "",
        "visuallyHidden": "date"
        }
        ]
        }
        ] %}

        {{ datesTable(rows) }}

    </div>

</div>

{% endblock %}