{% extends "features/bo-redesign/v3/layouts/back-office.html" %}
{% set currentArea = "cases" %}
{% set currentPage = "representations" %}

{% block content %}

<a href="/features/bo-redesign/v3/back-office/cases" class="govuk-back-link">Back to
    all applications</a>

<h1 class="govuk-heading-l">CROWN/2025/0000073</h1>

<button class="govuk-button">Publish application</button>

<h2 class="govuk-heading-m">External links</h2>
<ul class="govuk-list ">
    <li class="govuk-link">
        <a class="external"
            href="https://pinso365.sharepoint.com/sites/CrownDevelopmentsDevSite1/Crown%20Developments/Forms/AllItems.aspx?FolderCTID=0x0120002AEB4E42385D4248BC40ED69E7C865EE&id=%2Fsites%2FCrownDevelopmentsDevSite1%2FCrown%20Developments%2FCROWN%2D2026%2D0000076"
            {% if currentPage=='documents' %} aria-current="location" {% endif %}>Sharepoint documents</a>
    </li>
    <li class="govuk-link">
        <a class="external" href="" {% if currentPage=='notify' %} aria-current="location" {% endif %}>GOV.UK
            Notify</a>
    </li>
</ul>
{% include "/features/bo-redesign/v3/components/side-nav/side-nav.njk" %}


<h2 class='govuk-heading--m'>
    Representation dates
</h2>


{% from "/features/bo-redesign/v3/components/manage-tables/reps-table.njk" import
repsTable %}


{% set rows = [
{
"key": "Representations period",
"value": "Start: midnight, 1 January 2026<br>
End: 11:59pm, 31 December 2026",
"actions": [
{
"text": "Change",
"href": "",
"visuallyHidden": "date"
}
]
},

{
"key": "Representations publish date",
"value": "1 February 2026",
"actions": [
{
"text": "Change",
"href": "",
"visuallyHidden": "date"
}
]
},

{
"key": "Notice of procedure date",
"value": "4 March 2026",
"actions": [
{
"text": "Change",
"href": "",
"visuallyHidden": "date"
}
]
}
] %}

{{ repsTable(rows) }}


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<h2 class='govuk-heading--m'>
    Manage representations
</h2>

<p class="govuk-body"><a href="/features/bo-redesign/v3/back-office/cases/view/manage-reps/manage-reps.html"
        class="govuk-link">Manage representations</a></p>


</div>

{% endblock %}