{% extends "features/bo-redesign/v2/layouts/back-office.html" %}
{% set currentArea = "cases" %}
{% set currentPage = "updates" %}

{% block content %}




<div class="govuk-grid-row">
    <div class="govuk-grid-column"><a href="/features/bo-redesign/v2/back-office/cases" class="govuk-back-link">Back to
            all applications</a>

        <h1 class="govuk-heading-l">CROWN/2025/0000073</h1>

        <button class="govuk-button">Publish application</button>

        <h2 class="govuk-heading-m">External links</h2>
        <ul class="govuk-list ">
            <li class="govuk-link">
                <a class="external"
                    href="https://pinso365.sharepoint.com/sites/CrownDevelopmentsDevSite1/Crown%20Developments/Forms/AllItems.aspx?FolderCTID=0x0120002AEB4E42385D4248BC40ED69E7C865EE&id=%2Fsites%2FCrownDevelopmentsDevSite1%2FCrown%20Developments%2FCROWN%2D2026%2D0000076"
                    {% if currentPage=='documents' %} aria-current="location" {% endif %}>Sharepoint documents</a>
            </li>
            <li class="govuk-link">
                <a class="external" href="" {% if currentPage=='notify' %} aria-current="location" {% endif %}>GOV.UK
                    Notify</a>
            </li>
        </ul>

        {% include "/features/bo-redesign/v2/components/side-nav/side-nav.njk" %}


        <h2 class='govuk-heading--m'>
            Add an application update
        </h2>

        <p class="govuk-body"><a
                href="/features/bo-redesign/v2/back-office/manage/application-updates/create-update/update-details"
                class="govuk-link">Add new update</a></p>


        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class='govuk-heading--m'>
            View application updates</h2>

        <p class="govuk-body">Showing <strong>1</strong> to <strong>3</strong> of <strong>3</strong> updates</p>

        <table class="govuk-table" data-module="moj-sortable-table" data-moj-sortable-table-init="">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" aria-sort="descending"><button type="button"
                            data-index="0">Published<svg width="22" height="22" focusable="false" aria-hidden="true"
                                role="img" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.4375 7L11 15.8687L6.5625 7L15.4375 7Z" fill="currentColor"></path>
                            </svg></button></th>
                    <th scope="col" class="govuk-table__header">Update details</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button"
                            data-index="2">Status<svg width="22" height="22" focusable="false" aria-hidden="true"
                                role="img" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.1875 9.5L10.9609 3.95703L13.7344 9.5H8.1875Z" fill="currentColor"></path>
                                <path d="M13.7344 12.0781L10.9609 17.6211L8.1875 12.0781H13.7344Z" fill="currentColor">
                                </path>
                            </svg></button></th>
                    <th scope="col" class="govuk-table__header">Action</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-sort-value="1781788808414">18 June 2026</td>
                    <td class="govuk-table__cell pins-pre-wrap">Decision issued</td>
                    <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--green">
                            Published
                        </strong>

                    </td>
                    <td class="govuk-table__cell"><a href="application-updates/review-published.html"
                            class="govuk-link">Review</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-sort-value="1781788808414">23 March 2026</td>
                    <td class="govuk-table__cell pins-pre-wrap">Inquiry date has been set</td>
                    <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--yellow">
                            Unpublished
                        </strong>

                    </td>
                    <td class="govuk-table__cell"><a href="application-updates/review-unpublished.html"
                            class="govuk-link">Review</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-sort-value="1781788808414">2 January 2026</td>
                    <td class="govuk-table__cell pins-pre-wrap">Procedure choice announced</td>
                    <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--grey">
                            Draft
                        </strong>

                    </td>
                    <td class="govuk-table__cell"><a href="application-updates/review-draft.html"
                            class="govuk-link">Review</a></td>
                </tr>
            </tbody>
        </table>



    </div>


</div>

{% endblock %}