{% extends "layouts/back-office.njk" %}

{% set pageName = "Home" %}

{% block content %}

  <div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="applicantEmail">
      What is the email address of the Applicant?
    </label>
  </h1>
  <div id="applicantEmail-hint" class="govuk-hint">
    
  </div>
  <input class="govuk-input" id="applicantEmail" name="applicantEmail" type="text" value="" aria-describedby="applicantEmail-hint">
</div>


<a href="11-applicant-telephone-number" class="govuk-button">Continue</a>

        </div>
      </div>
    </main>
  </div>

{% endblock %}