{% extends "layouts/back-office.njk" %}

{% set pageName = "Home" %}

{% block content %}


  <div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="agentName">
      What is the name of the Agent organisation?
    </label>
  </h1>
  <div id="agentName-hint" class="govuk-hint">
    
  </div>
  <input class="govuk-input" id="agentName" name="agentName" type="text" value="" aria-describedby="agentName-hint">
</div>

<a href="7-agent-address" class="govuk-button">Continue</a>

        </div>
      </div>
    </main>
  </div>    

{% endblock %}