{% extends "layouts/back-office.html" %}

{% set pageName = "Home" %}

{% block content %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">

    
    <h1 class="govuk-heading-l">Check applicant contact details</h1>

    <p class="govuk-body">No applicant contacts found</p>

    <a href="3-add-applicant-contact.html" class="govuk-button govuk-button--secondary">Add details</a><br>

    <a href="1-manage-application.html#contacts" class="govuk-button">Save</a>

  </div>

{% endblock %}