{% extends "layouts/back-office.html" %}

{% set pageName = "Home" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <h1 class="govuk-heading-l">Add applicant contact details</h1>

      <fieldset class="govuk-fieldset">

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">
            First name
          </label>
          <input class="govuk-input" id="address-line-1" name="addressLine1" type="text" autocomplete="address-line1">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-2">
            Last name
          </label>
          <input class="govuk-input" id="address-line-2" name="addressLine2" type="text" autocomplete="address-line2">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-2">
            Email address
          </label>
          <input class="govuk-input" id="address-line-2" name="addressLine2" type="text" autocomplete="address-line2">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">
            Phone number (optional)
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="address-county" name="addressCounty" type="text">
        </div>

 <div class="govuk-form-group">
        <label class="govuk-label" for="contact-organisation">
          Select the organisation for this contact
        </label>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
              Department for Transport
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio"
              value="scotland">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
              Department for Environment, Food and Rural Affairs
            </label>
          </div>
        
          

        </div>
      </div>
      </fieldset>

      <a href="4-check-applicant-contact-details.html" class="govuk-button">Continue</a>

      <a href="2-check-applicant-contact-details" class="govuk-button govuk-button--secondary">Cancel</a>


    </div>
  </div>

{% endblock %}