{% extends "layouts/back-office.html" %}

{% set pageName = "Home" %}

{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<span class="govuk-caption-xl">CROWN/2025/0000010</span>
<h1 class="govuk-heading-xl">Check applicant contact details</h1>

<p class="govuk-body">No applicant contacts found</p>

<a href="3-add-applicant-contact.html" class="govuk-button govuk-button--secondary">Add details</a><br>

<a href="1-manage-application.html#contacts" class="govuk-button">Save</a>

</div>
</div>

{% endblock %}