{% extends "layouts/back-office.html" %}

{% set pageName = "Home" %}

{% block content %}

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <div class="govuk-grid-row">

        <span class="govuk-caption-xl">CROWN/2025/0000010</span>
        <h1 class="govuk-heading-xl">Check applicant contact details</h1>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Contact 1
                </dt>
                <dd class="govuk-summary-list__value">
                    Priya Bennett<br>
                    priya.bennett@environment.gov.uk<br>
                    +44 7911 123456<br>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <ul class="govuk-summary-list__actions-list">
                        <li class="govuk-summary-list__actions-list-item">
                            <a class="govuk-link" href="">Remove<span class="govuk-visually-hidden">
                                    contact details</span></a>
                        </li>
                        <li class="govuk-summary-list__actions-list-item">
                            <a class="govuk-link" href="">Change<span class="govuk-visually-hidden">
                                    contact details</span></a>
                        </li>
                    </ul>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Contact 2
                </dt>
                <dd class="govuk-summary-list__value">
                    Marcus O'Connell<br>
                    marcus.oconnell@justice.gov.uk<br>
                    +44 7700 900123
                </dd>
                <dd class="govuk-summary-list__actions">
                    <ul class="govuk-summary-list__actions-list">
                        <li class="govuk-summary-list__actions-list-item">
                            <a class="govuk-link" href="">Remove<span class="govuk-visually-hidden">
                                    contact details</span></a>
                        </li>
                        <li class="govuk-summary-list__actions-list-item">
                            <a class="govuk-link" href="">Change<span class="govuk-visually-hidden">
                                    contact details</span></a>
                        </li>
                    </ul>
                </dd>
            </div>
        </dl>
        <a href="7-add-applicant-contact.html" class="govuk-button govuk-button--secondary">Add another</a><br>

        <a href="10-manage-application.html" class="govuk-button">Save</a>

    </div>

{% endblock %}