//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

/*Front office*/

/*Header styles*/

.custom-header {
    background-color: #074745;
    padding: 20px 0;
    border-bottom: 10px solid #13a19b;
    width: 100%;
}

.custom-header__link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.custom-header__logo {
    height: 30px;
    width: auto;
    margin-right: 10px;
    padding: 16px 15px 12px;
}

.custom-header__name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    padding-left: 35px;
}

/*Sortable table*/

.govuk-table__header.sortable {
    color: #1d70b8;
}

.govuk-table__header.sortable::after {
    content: " ▲▼";
    font-size: 0.8em;
    padding-left: 0.3em;
}

.govuk-results-per-page {
    margin-top: 1em;
}

/*Teal homepage banner*/

.full-bleed {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.cd-banner {
    background: #10847F;
    color: #fff;
    padding: 24px 0;
    /* vertical padding only */
}

.cd-banner .govuk-heading-xl,
.cd-banner .govuk-body,
.cd-banner a.govuk-link {
    color: #fff;
}

.cd-banner a.govuk-link:hover {
    color: #fff;
    text-decoration: underline;
}

/*Back office*/

/*Header*/


/*Components*/

/*Dashboard box*/

.dashboard-box {
    padding: govuk-spacing(5) govuk-spacing(5) 1px;
	margin-bottom: govuk-spacing(7);
	box-shadow:
		0 2px 0 govuk-colour('mid-grey'),
		inset 2px 0 0 govuk-colour('mid-grey'),
		inset -2px 0 0 govuk-colour('mid-grey'),
		inset 0 4px 0 govuk-colour('blue');

	&--title {
		margin-bottom: govuk-spacing(4);
	}

	&--form {
		position: relative;
	}

	&--btn {
		margin-top: govuk-spacing(2);
		margin-bottom: 2px;
	}
}

.row-inline {
    display: flex;
    gap: 8px;
}