//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


/*Front office*/

.application-links {
    margin-bottom: 12px;
}

.custom-header {
    background-color: #074745;
    padding: 20px 0;
    border-bottom: 10px solid #13a19b;
    width: 100%;
}

.custom-header__link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.custom-header__logo {
    height: 30px;
    width: auto;
    margin-right: 10px;
    padding: 16px 15px 12px;
}


.custom-header__name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    padding-left: 35px;
}


.govuk-table__header.sortable {
    color: #1d70b8;
}

.govuk-table__header.sortable::after {
    content: " ▲▼";
    font-size: 0.8em;
    padding-left: 0.3em;
}

.govuk-pagination-info,
.govuk-results-per-page {
    margin-top: 1em;
}
