//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


/*Front office*/

.application-links {
    margin-bottom: 12px;
}

.custom-header {
    background-color: #074745;
    padding: 20px 0;
    border-bottom: 10px solid #13a19b;
    width: 100%;
}

.custom-header__link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.custom-header__logo {
    height: 30px;
    width: auto;
    margin-right: 10px;
    padding: 16px 15px 12px;
}

.custom-header__name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    padding-left: 35px;
}

.govuk-table__header.sortable {
    color: #1d70b8;
}

.govuk-table__header.sortable::after {
    content: " ▲▼";
    font-size: 0.8em;
    padding-left: 0.3em;
}

.govuk-pagination-info,
.govuk-results-per-page {
    margin-top: 1em;
}


#PINS-name {
    font-size: 1.1rem;
}

.back-office-header {
    background: #fff;

    &__bottom-line {
        width: 100%;
        height: 8px;
        background-color: #28a197;
    }

    &__container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: govuk-spacing(3) 0;
    }

    &__logo-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: govuk-spacing(6);
        border-left: 2px solid #28a197;
        padding-left: 5px;
    }

    &__logo-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__logo {
        height: auto;
        width: auto;
    }

    &__org-name {

        font-size: 1rem;
        line-height: 1.2;
        text-align: left;
    }

    &__right {
        flex: 1;
        padding-left: govuk-spacing(2);
        padding: 20px 50px;
    }

    &__service-name {
        margin: 0;
        font-weight: bold;
    }

    &__nav {
        margin-top: govuk-spacing(2);
        display: flex;
        gap: govuk-spacing(4);
    }

    &__nav a {
        font-size: 1rem;
        text-decoration: none;
        color: #0b0c0c;
    }

    &__nav a:hover {
        text-decoration: underline;
    }

    * {
        font-family: Arial, sans-serif !important;
    }

    .back-office-header__service-name {
        padding-bottom: 30px;
    }
}