{% extends "layouts/main.njk" %}
{% set serviceName %}
Crown Developments prototype {% endset%}

{% block content %}

<h1 class="govuk-heading-xl">Add and remove multiple items</h1>
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Jira links
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="https://pins-ds.atlassian.net/browse/CROWN-826">CROWN-826 - Allow multiple LPA
          entities</a>
      </li>
      <li>
        <a class="govuk-link" href="https://pins-ds.atlassian.net/browse/CROWN-807">CROWN-807 - Allow multiple applicant
          data entities</a>
      </li>
      <li>
        <a class="govuk-link" href="https://pins-ds.atlassian.net/browse/CROWN-825">CROWN-825 - Allow multiple agent
          data
          entities</a>
      </li>

    </ul>
  </div>
</details>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#version-2">
        Version 2
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#version-1">
        Version 1
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="version-2">
    <h2 class="govuk-heading-m">LPA</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>This is set up at the start and cannot be changed</li>
      <li>Max of 2 LPAs</li>
      <li>Max of 1 LPA contact</li>
    </ul>

    <a href="v2/LPA/1-select-LPA.html" Class="govuk-button">Start</a>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Page list
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="v2/LPA/1-select-LPA.html">1-select-LPA.html</a>
          </li>
          <li>
            <a class="govuk-link" href="v2/LPA/2-add-secondary.html">2-add-secondary.html</a>
          </li>
          <li>
            <a class="govuk-link" href="v2/LPA/3-secondary-LPA.html">3-secondary-LPA.html</a>
          </li>
        </ul>
      </div>
    </details>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Applicant</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Max of 5 applicant organisations</li>
      <li>Max of 10 applicant contacts</li>
    </ul>

    <h3 class="govuk-heading-s">Applicant organisations</h3>
    <a href="v2/applicant/1-manage-application.html#contacts" Class="govuk-button">Start</a>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Page list
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list">
          <li><a class="govuk-link" href="v2/applicant/1-manage-application.html#contacts">Manage application: 0
              applicants</a></li>
          <li><a class="govuk-link" href="v2/applicant/10-manage-application.html#contacts">Manage application: 2
              applicants</a></li>
          <li><a class="govuk-link" href="v2/applicant/9-manage-application.html#contacts">Manage application: 5
              applicants</a></li>
          <li> <a class="govuk-link" href="v2/applicant/3-add-applicant.html">Add an applicant</a></li>
          <li><a class="govuk-link" href="v2/applicant/2-check-applicant-details.html">Check applicant details: 0
              applicants</a></li>
          <li><a class="govuk-link" href="v2/applicant/4-check-applicant-details.html">Check applicant details: 1
              applicants</a></li>
          <li><a class="govuk-link" href="v2/applicant/6-check-applicant-details.html">Check applicant details: 2
              applicants</a></li>
          <li><a class="govuk-link" href="v2/applicant/8-check-applicant-details.html">Check applicant details: 5
              applicants</a></li>

        </ul>
      </div>
    </details>

    <h3 class="govuk-heading-s">Applicant contacts</h3>
    <a href="v2/applicant-contacts/1-manage-application.html#contacts" Class="govuk-button">Start</a>


    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Page list
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list">
          <li><a class="govuk-link" href="v2/applicant/1-manage-application.html#contacts">Manage application: 0
              applicants</a></li>
          <li><a class="govuk-link" href="v2/applicant/10-manage-application.html#contacts">Manage application: 2
              applicants</a></li>
          <li><a class="govuk-link" href="v2/applicant/9-manage-application.html#contacts">Manage application: 5
              applicants</a></li>
          <li> <a class="govuk-link" href="v2/applicant/3-add-applicant.html">Add an applicant</a></li>
          <li><a class="govuk-link" href="v2/applicant/2-check-applicant-details.html">Check applicant details: 0
              applicants</a></li>
          <li><a class="govuk-link" href="v2/applicant/4-check-applicant-details.html">Check applicant details: 1
              applicants</a></li>
          <li><a class="govuk-link" href="v2/applicant/6-check-applicant-details.html">Check applicant details: 2
              applicants</a></li>
          <li><a class="govuk-link" href="v2/applicant/8-check-applicant-details.html">Check applicant details: 5
              applicants</a></li>

        </ul>
      </div>
    </details>



  </div>


  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="version-1">
    <h2 class="govuk-heading-l"> Check your answers pages </h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m"> Applicant</h3>
        <h4 class="govuk-heading-s"> Organisation </h4>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="v1/multiple-applicant/21.html">0 applicant organisations</a>

          </li>
          <li>
            <a class="govuk-link" href="v1/multiple-applicant/20.html">1 applicant organisation</a>

          </li>
          <li>
            <a class="govuk-link" href="v1/multiple-applicant/22.html">2 applicant organisations</a>

          </li>
          <li>
            <a class="govuk-link" href="v1/multiple-applicant/23.html">5 applicant organisations</a>
          </li>
          <li>
            <a class="govuk-link" href="">Success message - added GAP</a>
          </li>
          <li>
            <a class="govuk-link" href="v1/multiple-applicant/21.html">Success message - removed</a>
          </li>

        </ul>
        <h4 class="govuk-heading-s"> Contacts </h4>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="v1/multiple-applicant/2.html">0 applicant contacts</a>

          </li>
          <li>
            <a class="govuk-link" href="v1/multiple-applicant/1.html">1 applicant contacts</a>

          </li>
          <li>
            <a class="govuk-link" href="v1/multiple-applicant/11.html">2 applicant contacts</a>

          </li>
          <li>
            <a class="govuk-link" href="v1/multiple-applicant/13.html">10 applicant contacts</a>
          </li>
          <li>
            <a class="govuk-link" href="v1/multiple-applicant/4.html">Success message - added</a>
          </li>
          <li>
            <a class="govuk-link" href="v1/multiple-applicant/8.html">Success message - removed</a>
          </li>

        </ul>
      </div>

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m"> Agent </h3>

        <h4 class="govuk-heading-s"> Contacts </h4>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="v1/multiple-agent/multiple-agent-14.html">0 agent contacts</a>

          </li>
          <li>
            <a class="govuk-link" href="v1/multiple-agent/multiple-agent-11.html">1 agent contacts</a>

          </li>
          <li>
            <a class="govuk-link" href="v1/multiple-agent/multiple-agent-6.html">2 agent contacts</a>

          </li>
          <li>
            <a class="govuk-link" href="v1/multiple-agent/multiple-agent-9.html">10 agent contacts</a>
          </li>
          <li>
            <a class="govuk-link" href="v1/multiple-agent/multiple-agent-2.html">Success message - added</a>
          </li>

          <li>
            <a class="govuk-link" href="v1/multiple-agent/multiple-agent-8.html">Success message - removed</a>
          </li>


      </div>
    </div>

    <h2 class="govuk-heading-l"> Add details pages </h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m"> Applicant</h3>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="v1/multiple-applicant/15.html">Add applicant organisation details
            </a>

          </li>

          <li>
            <a class="govuk-link" href="v1/multiple-applicant/3.html">Add applicant contact details
            </a>

          </li>

        </ul>
      </div>

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m"> Agent </h3>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="v1/multiple-agent/multiple-agent-16.html">Add agent organisation details</a>
          </li>
          <li><a class="govuk-link" href="v1/multiple-agent/multiple-agent-17.html">Success - add agent organisation
              details
            </a>
          </li>

          <a class="govuk-link" href="v1/multiple-agent/multiple-agent.html">Add agent contact details</a>
          </li>

      </div>
    </div>


    <h2 class="govuk-heading-l"> Manage application design versions </h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="v1/manage-application/option-1-A.html">Option 1 - Multiple rows (current)</a>

      </li>
      <li>
        <a class="govuk-link" href="v1/manage-application/option-2-A.html">Option 2 - CYA format within main page</a>

      </li>
      <li>
        <a class="govuk-link" href="v1/manage-application/option-3-A.html">Option 3 - Collapsible</a>

      </li>
      <li>
        <a class="govuk-link" href="v1/manage-application/option-4-A.html">Option 4 - Multiples hidden</a>

      </li>

    </ul>

    <h2 class="govuk-heading-l"> Previous journeys </h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="multiple-lpa/0.html"> > Allow multiple LPA entities </a>
      </li>
      <li>
        <a class="govuk-link" href="v1/multiple-applicant/0.html#contacts"> > Allow multiple applicant data entities</a>
      <li>
        <a class="govuk-link" href="v1/multiple-agent/multiple-agent.html"> > Allow multiple agent data entities</a>
      </li>

      </li>
    </ul>

  </div>

</div>


{% endblock %}