{% extends "layouts/main.njk" %}

{% set pageName = "Home" %}



{% block content %}
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="multiple-agent/multiple-agent.html">Allow multiple agent data entities</a>
    <ul> 
        <li> <a class="govuk-link" href="https://pins-ds.atlassian.net/browse/CROWN-825">CROWN-825</a></li>
    </ul>
  </li>
  <li>
    <a class="govuk-link" href="multiple-lpa/multiple-lpa.html">Allow multiple LPA entities</a>
    <ul> 
        <li> <a class="govuk-link" href="https://pins-ds.atlassian.net/browse/CROWN-826">CROWN-826</a></li>
    </ul>
  </li>
  <li>
    <a class="govuk-link" href="multiple-applicant/0.html#contacts">Allow multiple applicant data entities</a>
    <ul> 
        <li> <a class="govuk-link" href="https://pins-ds.atlassian.net/browse/CROWN-807">CROWN-807</a></li>
    </ul>
  </li>
  
</ul>

{% endblock %}