{% extends "user-testing/bo-redesign/v1/layouts/back-office.html" %}
{% set currentArea = "cases" %}
{% set currentPage = "overview" %}

{% block content %}

  <a href="/user-testing/bo-redesign/v1/back-office/cases" class="govuk-back-link">Back to all cases</a>

  <h1 class="govuk-heading-l  govuk-!-margin-top-3">
    CROWN/2025/0000073
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      {% include "/user-testing/bo-redesign/v1/components/side-nav/side-nav.njk" %}
    </div>

    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Overview</h2>

      <h3 class="govuk-heading-s govuk-!-padding-top-3">
        Applicant
      </h3>
      <p class="govuk-body-s">
        Office for Community Resilience and Urban Futures (OCRUF)
      </p>
      <p class="govuk-body-s">
        <a class="govuk-link" href="">Change<span class="govuk-visually-hidden">
            What are the Applicant Contact details? (Overview)</span></a>
      </p>

      <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">
      <h3 class="govuk-heading-s">
        Application description
      </h3>
      <p class="govuk-body-s">
        Construction of a new government office complex comprising three interconnected buildings with associated parking, landscaping, and secure perimeter fencing. The development will include sustainable design features such as green roofs, solar panels, and rainwater harvesting systems.
      </p>
      <p class="govuk-body-s">
        <a class="govuk-link" href="">Change<span class="govuk-visually-hidden">
            What is the description of the application? (Overview)</span></a>
      </p>
      <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">
      <h3 class="govuk-heading-s">
        Application type
      </h3>
      <p class="govuk-body-s">
        Planning permission
      </p>
      <p class="govuk-body-s">
        <a class="govuk-link" href="">Change<span class="govuk-visually-hidden">
            What type of application is it? (Overview)</span></a>
      </p>

      <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">
      <h3 class="govuk-heading-s">
        Local planning authority
      </h3>
      <p class="govuk-body-s">
        Riverstone District Council
      </p>
      <p class="govuk-body-s">
        <a class="govuk-link" href="">Change<span class="govuk-visually-hidden">
            Select the Local Planning Authority for this application (Overview)</span></a>
      </p>

      <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">
      <h3 class="govuk-heading-s">
        Site address
      </h3>
      <p class="govuk-body-s">
        Plot 12, Avonvale Way, Kingsford Road, Southmere, Avonshire, AS4 9LT
      </p>
      <p class="govuk-body-s">
        <a class="govuk-link" href="">Change<span class="govuk-visually-hidden">
            What is the address of the site? (Overview)</span></a>
      </p>

      <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">
      <h3 class="govuk-heading-s">
        Site coordinates
      </h3>
      <p class="govuk-body-s">
        Easting: 369823<br>Northing: 023698<br>
      </p>
      <p class="govuk-body-s">
        <a class="govuk-link" href="">Change<span class="govuk-visually-hidden">
            What are the coordinates of the site? (Overview)</span></a>
      </p>

      <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">
      <h3 class="govuk-heading-s">
        Site area (ha)
      </h3>
      <p class="govuk-body-s">
        2
      </p>
      <p class="govuk-body-s">
        <a class="govuk-link" href="">Change<span class="govuk-visually-hidden">
            What is the area of the site in hectares? (Overview)</span></a>
      </p>

      <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">
      <h3 class="govuk-heading-s">
        Expected date of submission
      </h3>
      <p class="govuk-body-s">
        21 December 2025
      </p>
      <p class="govuk-body-s">
        <a class="govuk-link" href="">Change<span class="govuk-visually-hidden">
            What is the Expected Date of Submission? (Overview)</span></a>
      </p>

      <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">
      <h3 class="govuk-heading-s">
        Decision outcome
      </h3>
      <p class="govuk-body-s">
        -
      </p>
      <p class="govuk-body-s">
        <a class="govuk-link" href="">Change<span class="govuk-visually-hidden">
            What is the decision outcome? (Overview)</span></a>
      </p>

      <hr class="govuk-section-break--visible govuk-section-break govuk-section-break--m">
      <h3 class="govuk-heading-s">
        Decision date
      </h3>
      <p class="govuk-body-s">
        -
      </p>
      <p class="govuk-body-s">
        <a class="govuk-link" href="">Change<span class="govuk-visually-hidden">
            What is the Decision Date? (Overview)</span></a>
      </p>
    </div>

  </div>

{% endblock %}