{% extends "features/bo-redesign/v2/layouts/back-office.html" %}
{% set currentArea = "cases" %}
{% set currentPage = "history" %}

{% block content %}




<div class="govuk-grid-row">
    <div class="govuk-grid-column"><a href="/features/bo-redesign/v2/back-office/cases" class="govuk-back-link">Back to
            all applications</a>


        <h1 class="govuk-heading-l">CROWN/2025/0000073</h1>

        <h2 class="govuk-heading-m">External links</h2>
        <ul class="govuk-list ">
            <li class="govuk-link">
                <a class="external"
                    href="https://pinso365.sharepoint.com/sites/CrownDevelopmentsDevSite1/Crown%20Developments/Forms/AllItems.aspx?FolderCTID=0x0120002AEB4E42385D4248BC40ED69E7C865EE&id=%2Fsites%2FCrownDevelopmentsDevSite1%2FCrown%20Developments%2FCROWN%2D2026%2D0000076"
                    {% if currentPage=='documents' %} aria-current="location" {% endif %}>Documents (SharePoint)</a>
            </li>
            <li class="govuk-link">
                <a class="external" href="" {% if currentPage=='notify' %} aria-current="location" {% endif %}>GOV.UK
                    Notify</a>
            </li>
        </ul>
        {% include "/features/bo-redesign/v2/components/side-nav/side-nav.njk" %}
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                <dt class="govuk-summary-list__key">
                    Last modified date
                </dt>
                <dd class="govuk-summary-list__value">
                    8 April 2026 12:46pm
                </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                <dt class="govuk-summary-list__key">
                    Last modified by
                </dt>
                <dd class="govuk-summary-list__value">
                    Unknown
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Case history
                </dt>
                <dd class="govuk-summary-list__value">

                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/cases/78d4e9b6-4718-4787-9719-20f394fbb53e/case-history">View<span
                            class="govuk-visually-hidden"> case history (Case audit log)</span></a>
                </dd>
            </div>
        </dl>



    </div>

</div>

{% endblock %}