{% extends "features/bo-redesign/v2/layouts/back-office.html" %}
{% set currentArea = "cases" %}
{% set currentPage = "overview" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <a href="/features/bo-redesign/v2/back-office/cases" class="govuk-back-link">Back to all applications</a>

    {% if showSuccessBanner %}
    {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}


    {% call govukNotificationBanner({ type: "success" }) %} <h3 class="govuk-notification-banner__heading">
      {{ successMessage or "Application updated" }}
    </h3>
    {% endcall %}
    {% endif %}

  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">CROWN/2025/0000073</h1>
    <button class="govuk-button">Publish application</button>

    <h2 class="govuk-heading-m">External links</h2>
    <ul class="govuk-list ">
      <li class="govuk-link">
        <a class="external"
          href="https://pinso365.sharepoint.com/sites/CrownDevelopmentsDevSite1/Crown%20Developments/Forms/AllItems.aspx?FolderCTID=0x0120002AEB4E42385D4248BC40ED69E7C865EE&id=%2Fsites%2FCrownDevelopmentsDevSite1%2FCrown%20Developments%2FCROWN%2D2026%2D0000076"
          {% if currentPage=='documents' %} aria-current="location" {% endif %}>Sharepoint documents</a>
      </li>
      <li class="govuk-link">
        <a class="external" href="" {% if currentPage=='notify' %} aria-current="location" {% endif %}>GOV.UK
          Notify</a>
      </li>
    </ul>

    {% include "/features/bo-redesign/v2/components/side-nav/side-nav.njk" %}




    {% from "/features/bo-redesign/v2/components/manage-tables/dates-table.njk" import
    datesTable %}

    {% set rows = [

    {
    "key": "Application description",
    "value": data.applicationDescription or "Construction of a new government office complex comprising three
    interconnected buildings with associated parking, landscaping, and secure perimeter fencing. The development will
    include sustainable design features such as green roofs, solar panels, and rainwater harvesting systems.",
    "actions": [
    {
    "text": "Change",
    "href": "/features/bo-redesign/v2/back-office/change?fieldId=applicationDescription",
    "visuallyHidden": "Application description"
    }
    ]
    },
    {
    "key": "Application type",
    "value": data.applicationType or "Planning permission",
    "actions": [
    {
    "text": "Change",
    "href": "/features/bo-redesign/v2/back-office/change?fieldId=applicationType",
    "visuallyHidden": "Application type"
    }
    ]
    },
    {
    "key": "Site address",
    "value": data.siteAddress or "Plot 12, Avonvale Way, Kingsford Road, Southmere, Avonshire, AS4 9LT",
    "actions": [
    {
    "text": "Change",
    "href": "/features/bo-redesign/v2/back-office/change?fieldId=siteAddress",
    "visuallyHidden": "Site address"
    }
    ]
    },
    {
    "key": "Site coordinates",
    "value": data.siteCoordinates or "-",
    "actions": [
    {
    "text": "Change",
    "href": "/features/bo-redesign/v2/back-office/change?fieldId=siteCoordinates",
    "visuallyHidden": "Site coordinates"
    }
    ]
    },
    {
    "key": "Site area (ha)",
    "value": data.siteArea or "2",
    "actions": [
    {
    "text": "Change",
    "href": "/features/bo-redesign/v2/back-office/change?fieldId=siteArea",
    "visuallyHidden": "Site area"
    }
    ]
    },
    {
    "key": "Expected submission date",
    "value": data.expectedSubmissionDate or "20 November 2025",
    "actions": [
    {
    "text": "Change",
    "href": "/features/bo-redesign/v2/back-office/change?fieldId=expectedSubmissionDate",
    "visuallyHidden": "Expected submission date"
    }
    ]
    },
    {
    "key": "Decision outcome",
    "value": data.decisionOutcome or "-",
    "actions": [
    {
    "text": "Change",
    "href": "/features/bo-redesign/v2/back-office/change?fieldId=decisionOutcome",
    "visuallyHidden": "Decision outcome"
    }
    ]
    },
    {
    "key": "Decision date",
    "value": data.decisionDate or "-",
    "actions": [
    {
    "text": "Change",
    "href": "/features/bo-redesign/v2/back-office/change?fieldId=decisionDate",
    "visuallyHidden": "Decision date"
    }
    ]
    }
    ] %}

    {{ datesTable(rows) }}
  </div>



  {% endblock %}