{% extends "layouts/back-office.njk" %}

{% set pageName = "Home" %}

{% block content %}

<a href="javascript:history.back()" class="govuk-back-link" style="margin:0px">Back</a>

<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post" novalidate="">
        <input type="hidden" name="_csrf" value="">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="expectedDateOfSubmission-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What is the expected date of submission?
              </h1>
            </legend>
            <div id="expectedDateOfSubmission-hint" class="govuk-hint">

            </div>
            <div class="govuk-date-input" id="expectedDateOfSubmission">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="expectedDateOfSubmission_day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                    id="expectedDateOfSubmission_day" name="expectedDateOfSubmission_day" type="text" value="1"
                    inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="expectedDateOfSubmission_month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                    id="expectedDateOfSubmission_month" name="expectedDateOfSubmission_month" type="text" value="1"
                    inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="expectedDateOfSubmission_year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                    id="expectedDateOfSubmission_year" name="expectedDateOfSubmission_year" type="text" value="1111"
                    inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

      </form>
    </div>
  </div>

  <a href="17-check-your-answers" class="govuk-button">Continue</a>

  {% endblock %}