{% extends "layouts/back-office.njk" %}

{% set pageName = "Home" %}

{% block content %}

      <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <div class="govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">What is the name of the applicant organisation?</h1>
        <div class="govuk-form-group">
          
          <input class="govuk-input" id="event-name" name="eventName" type="text">
        </div>

       
        <a href="10e-add-applicant-address" class="govuk-button">Continue</a>
      </div>
    </div>
  {% endblock %}