{% extends "layouts/back-office.html" %}

{% set pageName = "Home" %}

{% block content %}

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-l">Check applicant contact details</h1>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%;">
                Contact 1
            </dt>
            <dd class="govuk-summary-list__value" style="width: 35%;">
                Priya Bennett<br>
                priya.bennett@hrmc.gov.uk<br>
                +44 7911 123456<br>
            </dd>
            <dd class="govuk-summary-list__value">
                HM Revenue and Customs
            </dd>
            <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="6-check-applicant-contact-details.html">Remove<span class="govuk-visually-hidden">
                                contactdetails</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="7-add-applicant-contact.html">Change<span class="govuk-visually-hidden">
                                contact details</span></a>
                    </li>
                </ul>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%;">
                Contact 2
            </dt>
            <dd class="govuk-summary-list__value" style="width: 35%;">
                Marcus O'Connell<br>
                marcus.oconnell@justice.gov.uk<br>
                +44 7700 900123
            </dd>
            <dd class="govuk-summary-list__value">
                Ministry of Justice
            </dd>

            <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="6-check-applicant-contact-details.html">Remove<span class="govuk-visually-hidden">
                                contactdetails</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="7-add-applicant-contact.html">Change<span class="govuk-visually-hidden">
                                contact details</span></a>
                    </li>
                </ul>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%">
                Contact 3
            </dt>
            <dd class="govuk-summary-list__value" style="width: 35%;">

                Sophie Rahman<br>
                sophie.rahman@education.gov.uk<br>
                +44 7725 881234

            </dd>
            <dd class="govuk-summary-list__value">
                Department for Education
            </dd>
            <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="6-check-applicant-contact-details.html">Remove<span class="govuk-visually-hidden">
                                contactdetails</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="7-add-applicant-contact.html">Change<span class="govuk-visually-hidden">
                                contact details</span></a>
                    </li>
                </ul>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%">
                Contact 4
            </dt>
            <dd class="govuk-summary-list__value" style="width: 35%;">

                Tom Whittaker<br>
                tom.whittaker@transport.gov.uk<br>
                +44 7750 112233

            </dd>
            <dd class="govuk-summary-list__value">
                Ministry for Transport
            </dd>
            <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="6-check-applicant-contact-details.html">Remove<span class="govuk-visually-hidden">
                                contactdetails</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="7-add-applicant-contact.html">Change<span class="govuk-visually-hidden">
                                contact details</span></a>
                    </li>
                </ul>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%">
                Contact 5
            </dt>
            <dd class="govuk-summary-list__value" style="width: 35%;">

                Jasmin Clarke<br>
                jasmin.clarke@digital.cabinet-office.gov.uk<br>
                +44 7788 66554

            </dd>
            <dd class="govuk-summary-list__value">
                Cabinet Office
            </dd>
            <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="6-check-applicant-contact-details.html">Remove<span class="govuk-visually-hidden">
                                contactdetails</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="7-add-applicant-contact.html">Change<span class="govuk-visually-hidden">
                                contact details</span></a>
                    </li>
                </ul>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%">
                Contact 6
            </dt>
            <dd class="govuk-summary-list__value" style="width: 35%;">

                Elliot Fraser<br>
                elliot.fraser@hmrc.gov.uk<br>
                +44 7700 998877

            </dd>
            <dd class="govuk-summary-list__value">
                HM Revenue and Customs
            </dd>
            <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="6-check-applicant-contact-details.html">Remove<span class="govuk-visually-hidden">
                                contactdetails</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="7-add-applicant-contact.html">Change<span class="govuk-visually-hidden">
                                contact details</span></a>
                    </li>
                </ul>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%">
                Contact 7
            </dt>
            <dd class="govuk-summary-list__value" style="width: 35%;">

                Nina Patel<br>
                nina.patel@transport.gov.uk<br>

            </dd>
            <dd class="govuk-summary-list__value">
               Ministry for Transport
            </dd>
            <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="6-check-applicant-contact-details.html">Remove<span class="govuk-visually-hidden">
                                contactdetails</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="7-add-applicant-contact.html">Change<span class="govuk-visually-hidden">
                                contact details</span></a>
                    </li>
                </ul>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%">
                Contact 8
            </dt>
            <dd class="govuk-summary-list__value" style="width: 35%;">

                Gareth Hughes<br>
                gareth.hughes@education.gov.uk<br>

            </dd>
            <dd class="govuk-summary-list__value">
                Department for Education
            </dd>
            <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="6-check-applicant-contact-details.html">Remove<span class="govuk-visually-hidden">
                                contactdetails</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="7-add-applicant-contact.html">Change<span class="govuk-visually-hidden">
                                contact details</span></a>
                    </li>
                </ul>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%">
                Contact 9
            </dt>
            <dd class="govuk-summary-list__value" style="width: 35%;">

                Leila Morgan<br>
                leila.morgan@education.gov.uk<br>
                +44 7712 334455

            </dd>
            <dd class="govuk-summary-list__value">
                Department for Education
            </dd>
            <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="6-check-applicant-contact-details.html">Remove<span class="govuk-visually-hidden">
                                contactdetails</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="7-add-applicant-contact.html">Change<span class="govuk-visually-hidden">
                                contact details</span></a>
                    </li>
                </ul>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%">
                Contact 10
            </dt>
            <dd class="govuk-summary-list__value" style="width: 35%;">

                Owen McBride<br>
                owen.mcbride@hmrc.gov.uk<br>
                +44 7799 221100

            </dd>
            <dd class="govuk-summary-list__value">
                HM Revenue and Customs
            </dd>
            <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="6-check-applicant-contact-details.html">Remove<span class="govuk-visually-hidden">
                                contactdetails</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="7-add-applicant-contact.html">Change<span class="govuk-visually-hidden">
                                contact details</span></a>
                    </li>
                </ul>
            </dd>
        </div>
    </dl>

    <a href="12-site-address" class="govuk-button">Continue</a>

{% endblock %}