{% extends "layouts/back-office.html" %}

{% set pageName = "Home" %}

{% block content %}


      <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-l">Add agent contact details</h1>

    <fieldset class="govuk-fieldset">

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-line-1">
          First name
        </label>
        <input class="govuk-input" id="address-line-1" name="addressLine1" type="text" autocomplete="address-line1">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="address-line-2">
          Last name
        </label>
        <input class="govuk-input" id="address-line-2" name="addressLine2" type="text" autocomplete="address-line2">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="address-line-2">
          Email address
        </label>
        <input class="govuk-input" id="address-line-2" name="addressLine2" type="text" autocomplete="address-line2">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-county">
          Phone number (optional)
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="addressCounty" type="text">
      </div>

    </fieldset>

    <a href="8e-check-agent-contact-details.html" class="govuk-button">Continue</a>


    {% endblock %}