{% extends "layouts/question.njk" %}

{% block question %}
    {{ govukInput({
        label: {
            text: "What your job title or volunteer role?",
            classes: "govuk-label--l",
            isPageHeading: true
        },
        name: "job-title"
    }) }}
{% endblock %}
