{% extends "features/new-service-headers-footers/v1/layouts/front-office" %}

{% set pageName = "Home" %}

{% block beforeContent %}

<style>
    .govuk-label {
        font-size: 16px !important;
    }
</style>

<!-- Full-width teal banner -->
<div style="width:100vw; margin-left:calc(-50vw + 50%); background:#00847E;">
    <div class="govuk-width-container">
        <div class="govuk-grid-row" style="padding-bottom:30px">
            <div class="govuk-grid-column-two-thirds">
                <h1 style="color:white; margin-top:30px;margin-bottom:15px" class="govuk-heading-xl pins-info-heading">
                    Welcome to Find a Crown Development application
                </h1>
                <p style="color:white" class="govuk-body">
                    Here you can find more information about Crown development applications. These are planning
                    applications
                    for
                    non-urgent, nationally important developments made by Crown bodies (including Other Government
                    Departments).
                </p>
                <p style="color:white" class="govuk-body pins-info-body">
                    This site is managed by the Planning Inspectorate, the government agency responsible for handling
                    Crown
                    development applications.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l" style="margin-top: 30px;">
                All Crown Development applications
            </h2>


            <div>
                <div id="search-hint" class="govuk-hint">
                    Search applications</div>
                <form class="govuk-form-group"
                    style="display: flex; gap: 8px; align-items: center; margin-bottom: 0px;">
                    <label class="govuk-label govuk-visually-hidden" for="keyword-search">Keyword search</label>
                    <input class="govuk-input" id="keyword-search" name="keyword-search" type="text" autocomplete="off"
                        style="margin-bottom: 0; width:100%;">
                    <button class="govuk-button" id="keyword-search-button" type="submit"
                        style="margin-bottom: 0;">Search</button>
                </form>


                {% from "govuk/components/details/macro.njk" import govukDetails %}

                <div style="margin-top: 20px">
                    {{ govukDetails({
                    summaryText: "Filters",
                    html: '<h3 class="govuk-heading-s">Type of application</h3>
                    <fieldset class="govuk-fieldset" aria-describedby="stage-hint">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="stage-accepted" name="stage" type="checkbox"
                                    value="Accepted">
                                <label class="govuk-label govuk-checkboxes__label" for="stage-accepted">
                                    Planning permission (0)
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="stage-consultation" name="stage"
                                    type="checkbox" value="Consultation">
                                <label class="govuk-label govuk-checkboxes__label" for="stage-consultation">
                                    Outline planning permission with some matters reserved (2)
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="stage-procedure" name="stage" type="checkbox"
                                    value="Procedure choice">
                                <label class="govuk-label govuk-checkboxes__label" for="stage-procedure">
                                    Approval of reserved matters following outline approval (0)
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="stage-written" name="stage" type="checkbox"
                                    value="Written representations">
                                <label class="govuk-label govuk-checkboxes__label" for="stage-written">
                                    Planning permission and listed building consent (LBC) for alterations, extension or
                                    demolition
                                    of a listed building (2)
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                    <h3 class="govuk-heading-s">Stage</h3>
                    <fieldset class="govuk-fieldset" aria-describedby="stage-hint">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="stage-accepted" name="stage" type="checkbox"
                                    value="Accepted">
                                <label class="govuk-label govuk-checkboxes__label" for="stage-accepted">
                                    Accepted (0)
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="stage-consultation" name="stage"
                                    type="checkbox" value="Consultation">
                                <label class="govuk-label govuk-checkboxes__label" for="stage-consultation">
                                    Consultation (2)
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="stage-procedure" name="stage" type="checkbox"
                                    value="Procedure choice">
                                <label class="govuk-label govuk-checkboxes__label" for="stage-procedure">
                                    Procedure choice (0)
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="stage-written" name="stage" type="checkbox"
                                    value="Written representations">
                                <label class="govuk-label govuk-checkboxes__label" for="stage-written">
                                    Written representations (2)
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="stage-inquiry" name="stage" type="checkbox"
                                    value="Inquiry">
                                <label class="govuk-label govuk-checkboxes__label" for="stage-inquiry">
                                    Inquiry (0)
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="stage-hearing" name="stage" type="checkbox"
                                    value="Hearing">
                                <label class="govuk-label govuk-checkboxes__label" for="stage-hearing">
                                    Hearing (1)
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="stage-decision" name="stage" type="checkbox"
                                    value="Decision">
                                <label class="govuk-label govuk-checkboxes__label" for="stage-decision">
                                    Final decision (12)
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="stage-decision" name="stage" type="checkbox"
                                    value="Decision">
                                <label class="govuk-label govuk-checkboxes__label" for="stage-decision">
                                    Post-decision (0)
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <button class="govuk-button" id="keyword-search-button" type="submit"
                        style="margin-top: 30px;">Apply
                        filters</button>
                    '

                    }) }}
                </div>
            </div>


            <p class="govuk-body govuk-clearfix">
                Showing <strong>1</strong>
                to <strong>5</strong>
                of <strong>5</strong> results
            </p>
            <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

            <div class="pins-table__container" role="region">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Application reference</th>
                            <th scope="col" class="govuk-table__header">Applicant name</th>
                            <th scope="col" class="govuk-table__header">Local planning authority</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                <a class="govuk-link" href="">
                                    CROWN/2025/0000057
                                </a>
                            </th>

                            <td class="govuk-table__cell">Department for Sustainable Infrastructure (DfSI)
                            </td>
                            <td class="govuk-table__cell">North Wessex Planning Partnership (NWPP)</td>

                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                <a class="govuk-link" href="" ">
                                            CROWN/2025/0000051
                                        </a>
                                    </th>

                                    <td class=" govuk-table__cell">Office for Community Resilience and Urban Futures
                                    (OCRUF)</td>
                            <td class="govuk-table__cell">South Fenwick Borough Council</td>

                        </tr>

                        <tr class="govuk-table__row">

                            <th scope="row" class="govuk-table__header">
                                <a>CROWN/2025/0000052
                                </a>
                            </th>
                            <td class="govuk-table__cell">Ministry for Integrated Transport (MiT)</td>
                            <td class="govuk-table__cell">West Darnley District Council</td>

                        </tr>

                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                <a class="govuk-link" href="">CROWN/2025/0000051</a>
                            </th>
                            <td class=" govuk-table__cell">Department for Housing Innovation and Regional
                                Strategy
                                (DHIRS)</td>
                            <td class="govuk-table__cell">East Grinstead Vale Council</td>

                        </tr>

                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                <a>CROWN/2025/0000056
                                </a>
                            </th>
                            <td class="govuk-table__cell">Commission for Environmental Planning and Urban
                                Renewal
                                (CEPUR)</td>
                            <td class="govuk-table__cell">North Penbury Council</td>
                        </tr>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </main>
</div>

{% endblock %}