{% extends "layouts/back-office.html" %} {% set pageName = "Home" %} {% block
content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>


<h1 class="govuk-heading-l">Check agent contact details</h1>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Contact 1</dt>
    <dd class="govuk-summary-list__value">
      Amina Rahman<br />
      amina.rahman@stratwellglobal.com<br />
      +44 20 7946 8711<br />
    </dd>
    <dd class="govuk-summary-list__actions">
      <ul class="govuk-summary-list__actions-list">
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="6-check-agent-contact-details.html"
            >Remove<span class="govuk-visually-hidden"> contactdetails</span></a
          >
        </li>
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="7-add-agent-contact.html"
            >Change<span class="govuk-visually-hidden">
              contact details</span
            ></a
          >
        </li>
      </ul>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Contact 2</dt>
    <dd class="govuk-summary-list__value">
      James Okafor<br />
      james.okafor@stratwellglobal.com<br />
      +44 20 7946 8712<br />
    </dd>
    <dd class="govuk-summary-list__actions">
      <ul class="govuk-summary-list__actions-list">
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="6-check-agent-contact-details.html"
            >Remove<span class="govuk-visually-hidden"> contactdetails</span></a
          >
        </li>
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="7-add-agent-contact.html"
            >Change<span class="govuk-visually-hidden">
              contact details</span
            ></a
          >
        </li>
      </ul>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Contact 3</dt>
    <dd class="govuk-summary-list__value">
      Sophie Zhang<br />
      sophie.zhang@stratwellglobal.com<br />
    </dd>
    <dd class="govuk-summary-list__actions">
      <ul class="govuk-summary-list__actions-list">
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="6-check-agent-contact-details.html"
            >Remove<span class="govuk-visually-hidden"> contactdetails</span></a
          >
        </li>
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="7-add-agent-contact.html"
            >Change<span class="govuk-visually-hidden">
              contact details</span
            ></a
          >
        </li>
      </ul>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Contact 4</dt>
    <dd class="govuk-summary-list__value">
      Tomás García<br />
      tomas.garcia@stratwellglobal.com<br />
      +44 20 7946 8714<br />
    </dd>
    <dd class="govuk-summary-list__actions">
      <ul class="govuk-summary-list__actions-list">
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="6-check-agent-contact-details.html"
            >Remove<span class="govuk-visually-hidden"> contactdetails</span></a
          >
        </li>
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="7-add-agent-contact.html"
            >Change<span class="govuk-visually-hidden">
              contact details</span
            ></a
          >
        </li>
      </ul>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Contact 5</dt>
    <dd class="govuk-summary-list__value">
      Priya Desai<br />
      priya.desai@stratwellglobal.com<br />
    </dd>
    <dd class="govuk-summary-list__actions">
      <ul class="govuk-summary-list__actions-list">
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="6-check-agent-contact-details.html"
            >Remove<span class="govuk-visually-hidden"> contactdetails</span></a
          >
        </li>
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="7-add-agent-contact.html"
            >Change<span class="govuk-visually-hidden">
              contact details</span
            ></a
          >
        </li>
      </ul>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Contact 6</dt>
    <dd class="govuk-summary-list__value">
      Luca Moretti<br />
      luca.moretti@stratwellglobal.com<br />
      +44 20 7946 8716<br />
    </dd>
    <dd class="govuk-summary-list__actions">
      <ul class="govuk-summary-list__actions-list">
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="6-check-agent-contact-details.html"
            >Remove<span class="govuk-visually-hidden"> contactdetails</span></a
          >
        </li>
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="7-add-agent-contact.html"
            >Change<span class="govuk-visually-hidden">
              contact details</span
            ></a
          >
        </li>
      </ul>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Contact 7</dt>
    <dd class="govuk-summary-list__value">
      Chloe Bennett<br />
      chloe.bennett@stratwellglobal.com<br />
      +44 20 7946 8717<br />
    </dd>
    <dd class="govuk-summary-list__actions">
      <ul class="govuk-summary-list__actions-list">
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="6-check-agent-contact-details.html"
            >Remove<span class="govuk-visually-hidden"> contactdetails</span></a
          >
        </li>
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="7-add-agent-contact.html"
            >Change<span class="govuk-visually-hidden">
              contact details</span
            ></a
          >
        </li>
      </ul>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Contact 8</dt>
    <dd class="govuk-summary-list__value">
      Aneta Kowalska<br />
      aneta.kowalska@stratwellglobal.com<br />
      +44 20 7946 8723<br />
    </dd>
    <dd class="govuk-summary-list__actions">
      <ul class="govuk-summary-list__actions-list">
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="6-check-agent-contact-details.html"
            >Remove<span class="govuk-visually-hidden"> contactdetails</span></a
          >
        </li>
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="7-add-agent-contact.html"
            >Change<span class="govuk-visually-hidden">
              contact details</span
            ></a
          >
        </li>
      </ul>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Contact 9</dt>
    <dd class="govuk-summary-list__value">
      Kwame Boateng<br />
      kwame.boateng@stratwellglobal.com<br />
    </dd>
    <dd class="govuk-summary-list__actions">
      <ul class="govuk-summary-list__actions-list">
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="6-check-agent-contact-details.html"
            >Remove<span class="govuk-visually-hidden"> contactdetails</span></a
          >
        </li>
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="7-add-agent-contact.html"
            >Change<span class="govuk-visually-hidden">
              contact details</span
            ></a
          >
        </li>
      </ul>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Contact 10</dt>
    <dd class="govuk-summary-list__value">
      Nia Roberts<br />
      nia.roberts@stratwellglobal.com<br />
      +44 20 7946 8719<br />
    </dd>
    <dd class="govuk-summary-list__actions">
      <ul class="govuk-summary-list__actions-list">
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="6-check-agent-contact-details.html"
            >Remove<span class="govuk-visually-hidden"> contactdetails</span></a
          >
        </li>
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="7-add-agent-contact.html"
            >Change<span class="govuk-visually-hidden">
              contact details</span
            ></a
          >
        </li>
      </ul>
    </dd>
  </div>
</dl>

<a href="9-manage-application.html#contacts" class="govuk-button">Save</a>

{% endblock %}
