{% extends "layouts/main.njk" %}
{% set serviceName %}Crown Developments prototype
{% endset%}

{% set pageName = "AI content changes" %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">AI content changes</h1>

      <h2 class="govuk-heading-m">Feature description</h2>
      <ul class="govuk-list">

        <li>Updating content for the 'Have your say' journey for news AI requirements.</li>
      </ul>

      <h3 class="govuk-heading-s">Jira links</h3>
      <ul class="govuk-list">
        <li><a href="https://pins-ds.atlassian.net/browse/CROWN-1546" class="govuk-link">CROWN-1546 - Content order on
            ‘Have Your Say’ start page</a></li>
      </ul>


      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">

          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected"> <a class="govuk-tabs__tab"
              href="#version-3"> Version
              3 </a> </li>

          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected"> <a class="govuk-tabs__tab"
              href="#version-2"> Version 2 </a> </li>

          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#version-1">
              Version 1
            </a>
          </li>

        </ul>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="version-1">
          <h2 class="govuk-heading-m">Version 1</h2>

          <ul class="govuk-list govuk-list--bullet">
            <li><a href="v1/have-your-say-on-a-crown-development-application" class="govuk-link">Have your say start
                page</a></li>
            <li><a href="v1/13-what-do-you-want-to-say-about-this-application" class="govuk-link">What do you want to
                say about this application?</a></li>
            <li><a href="v1/17-declaration" class="govuk-link">Declaration</a></li>
          </ul>

          </p>

        </div>

        <div class="govuk-tabs__panel" id="version-2">
          <h2 class="govuk-heading-m">Version 2</h2>
          <p>Iterated based on design review feedback:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Reordered HYS page content</li>
            <li>added new structured data collection fields</li>
          </ul>
          <h3 class="govuk-heading-s">Page list</h3>

          <ul class="govuk-list govuk-list--bullet">
            <li><a href="have-your-say-content/v2/have-your-say-on-a-crown-development-application"
                class="govuk-link">Have your say start
                page</a></li>
            <li><a href="v2/use-of-ai" class="govuk-link">New page - use of
                AI</a></li>
            <li><a href="v2/which-AI.html" class="govuk-link">New page - which
                AI</a></li>
            <li><a href="v2/how-AI.html" class="govuk-link">New page - how
                AI</a></li>
            <li><a href="v2/17-declaration" class="govuk-link">Declaration</a></li>
          </ul>
        </div>

        <div class="govuk-tabs__panel" id="version-3">
          <h2 class="govuk-heading-m">Version 3</h2>
          <p>Iterated based on new policy/other services:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Remove question about which tools used</li>
            <li>Tweak wording to match content from other services</li>
          </ul>
          <h3 class="govuk-heading-s">Front office</h3>

          <ul class="govuk-list govuk-list--bullet">
            <li><a href="v3/have-your-say-on-a-crown-development-application" class="govuk-link">Have your
                say start
                page</a></li>
            <li><a href="v3/use-of-ai" class="govuk-link">New page - use of
                AI</a></li>

            <li><a href="v3/how-AI.html" class="govuk-link">New page - how
                AI</a></li>
            <li><a href="v3/17-declaration" class="govuk-link">Declaration</a></li>
          </ul>

          <h3 class="govuk-heading-s">Back office</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="v3/back-office/AI-use.html" class="govuk-link">New yes/no question</a></li>

            <li><a href="v3/back-office/how-ai.html" class="govuk-link">New how question</a></li>

        </div>
      </div>

    </div>

  </div>

</div>

</div>
{% endblock %}