

{% set pageName = "Declaration" %}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}


{% block beforeContent %}
    <style>
        
        .govuk-service-navigation {
            background-color: #F4F8FB;
            color: #0B0C0C;
            border: none;
        }

        .moj-side-navigation {
            padding: 0;
            font-size: 19px;
        }

        .moj-side-navigation__item {
            padding: 8px 0;
            margin-left: -13px;
        }

        .govuk-task-list__summary-flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100% !important;
        }

        .govuk-task-list__name {
            margin: 0;
        }

        .govuk-task-list__accordion {
            margin-bottom: 0;
            padding: 0.5em 0;
            border-bottom: none;
            /* GOV.UK grey border */
        }

        .summary-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .govuk-details__summary {
            width: 96%;
        }

        .pins-modded-summary-full-width {
            margin: 10px 0;
        }
    </style>

{% endblock %}

{% block header %}

    {% include "components/headers/header-front-office.njk" %}

    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    <div class="govuk-width-container">

        {{ govukPhaseBanner({
	tag: {
	text: "Beta",
	classes: "govuk-tag"
	},
	html: 'This is a new service. Help us improve it and <a class="govuk-link"
		href="/../">give your feedback (opens in new tab)</a>.'
	}) 
  
  }}
    </div>
    {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

    {{ govukServiceNavigation({
  serviceUrl: "#",
  navigation: [
  {
  href: "/current-service/front-office/applications.html",
  text: "All applications"
  },
  {
  href: "/current-service/front-office/detailed-information.html",
  text: "Detailed information",
  active: true
  }

  ]
  }) 
  }}

{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Written representation submitted
        </h1>
        <div class="govuk-panel__body">
          Your reference number
          <br>
          <strong>945FC-23293</strong>
        </div>
      </div>

      <p class="govuk-body">We’ve received your written representation.</p>
      <p class="govuk-body">We’ve sent your reference number by email and will contact you if we need more information about your comment or supporting documents.</p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">At the end of this representations period, we’ll update the website with the procedure that the application will follow.</p>
      <p class="govuk-body">The Planning Inspectors will decide on one of the following procedures:</p>

      <h3 class="govuk-heading-s">Written representations</h3>
      <p class="govuk-body">If this procedure is chosen, Planning Inspectors will make their decision based on written submissions only.</p>

      <h3 class="govuk-heading-s">Hearing</h3>
      <p class="govuk-body">If you’ve requested in your comment to attend the hearing, we’ll contact you with details of the hearing date and location.</p>

      <h3 class="govuk-heading-s">Inquiry</h3>
      <p class="govuk-body">If this procedure is chosen, we’ll contact you with details of the inquiry date and location.</p>

      <div class="govuk-inset-text">
        <p class="govuk-body">Help us improve this service by <a href="">sharing your feedback</a>.</p>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">
            <a href="/../">
              Back to the application information page
            </a>
          </p>
        </div>
      </div>
    </div>

  </div>

</div>

{% endblock %}



    {% block footer %}
        <footer class="govuk-footer govuk-!-padding-bottom-8" role="contentinfo">
            <div class="govuk-width-container">
                <div class="govuk-footer__meta">
                    <div class="govuk-footer__meta-item govuk-footer__meta-item--grow govuk-!-margin-bottom-0">
                        <h2 class="govuk-visually-hidden">Support links</h2>

                        <ul class="govuk-footer__inline-list">
                            <li class="govuk-footer__inline-list-item">
                                <a class="govuk-footer__link" href="/current-service/front-office/terms-and-conditions.html">
                                    Terms and conditions
                                </a>
                            </li>
                            <li class="govuk-footer__inline-list-item">
                                <a class="govuk-footer__link" data-cy="Accessibility statement" href="/current-service/front-office/accessibility-statement">
                                    Accessibility statement
                                </a>
                            </li>
                            <li class="govuk-footer__inline-list-item">
                                <a class="govuk-footer__link" data-cy="Privacy" href="https://www.gov.uk/government/publications/planning-inspectorate-privacy-notices/customer-privacy-notice">
                                    Privacy
                                </a>
                            </li>
                            <li class="govuk-footer__inline-list-item">
                                <a class="govuk-footer__link" data-cy="Cookies" href="/current-service/front-office/cookies">
                                    Cookies
                                </a>
                            </li>
                            <li class="govuk-footer__inline-list-item">
                                <a class="govuk-footer__link" data-cy="Contact" href="/current-service/front-office/contact">
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="govuk-footer__meta -justify-content--start">
                    <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                        <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 483.2 195.7" height="17" width="41">
                            <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
                        </svg>

                        <span class="govuk-!-display-inline-block">
                            All content is available under the
                            <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
                        </span>
                    </div>

                    <div class="govuk-footer__meta-item">
                        <a class="govuk-link" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">
                            © Crown copyright
                        </a>
                    </div>
                </div>
            </div>
        </footer>

    {% endblock %}