
<style>
    .govuk-footer {
        border-top: #13a19b 10px solid;
        color: #0b0c0c !important;
    }

    .govuk-template--rebranded .govuk-footer {
        background: #f3f3f3;
    }
</style>

<footer class="govuk-footer">
  <div class="govuk-width-container">

    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">

        <span class="govuk-footer__licence-description">
          © 2026 Planning Inspectorate. All rights reserved.
        </span>
      </div>
    </div>
  </div>
</footer>