<style>
  .govuk-footer {
    border-top: #13a19b 10px solid;
    color: #0b0c0c !important;
  }

  .govuk-template--rebranded .govuk-footer {
    background: #f3f3f3;
  }
</style>

<footer class="govuk-footer">
  <div class="govuk-width-container">

    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">

        <div>
          <ul class="govuk-footer__inline-list">
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" target="_blank" href="https://mhclg.service-now.com/sp/?id=landing">Report a
                problem</a>
            </li>
          </ul>
        </div>

        <span class="govuk-footer__licence-description">
          © Planning Inspectorate. All rights reserved.
        </span>
      </div>
    </div>
  </div>
</footer>