{% extends "layouts/back-office.html" %}

{% set pageName = "Home" %}

{% block beforeContent %}

{{ govukPhaseBanner({
tag: {
text: "Prototype",
classes: "govuk-tag--pink"
},
html: 'This is a design mockup: data is not stored and some features may not work. <a class="govuk-link"
    href="/../">Back to prototype home</a>.'
}) }}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">
    <span class="govuk-caption-xl">F5E60-CDE6D</span>
    Review representation
</h1>

<h2 class="govuk-heading-m">Redaction suggestions</h2>

<h2 class="govuk-heading-m">Redaction preview</h2>
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with nationality
    </span>
  </summary>
  <div class="govuk-details__text">
    We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
  </div>
</details>


{% endblock %}