{% extends "layouts/front-office.html" %}
{% set serviceName %}
Crown Developments prototype
{% endset%}

{% block beforeContent %}
    <div class="full-bleed cd-banner">
        <div class="govuk-width-container">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Words we use</h1>
            <p class="govuk-body">
                Definitions of the words we use to talk about Crown developments.
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
<nav aria-label="Glossary letters"> <h2 class="govuk-heading-m">Jump to letter</h2>
                <ul class="govuk-list" style="display:flex; flex-wrap:wrap; gap:10px; list-style:none; ">
                    <li>
                        <a href="#A" class="govuk-link govuk-!-font-weight-bold">A</a>
                    </li>
                    <li>B</li>
                    <li>
                        <a href="#C" class="govuk-link govuk-!-font-weight-bold">C</a>
                    </li>
                    <li>D</li>
                    <li>
                        <a href="#E" class="govuk-link govuk-!-font-weight-bold">E</a>
                    </li>
                    <li>F</li>
                    <li>G</li>
                    <li>
                        <a href="#H" class="govuk-link govuk-!-font-weight-bold">H</a>
                    </li>
                    <li>
                        <a href="#I" class="govuk-link govuk-!-font-weight-bold">I</a>
                    </li>
                    <li>J</li>
                    <li>K</li>
                    <li>
                        <a href="#L" class="govuk-link govuk-!-font-weight-bold">L</a>
                    </li>
                    <li>
                        <a href="#M" class="govuk-link govuk-!-font-weight-bold">M</a>
                    </li>
                    <li>
                        <a href="#N" class="govuk-link govuk-!-font-weight-bold">N</a>
                    </li>
                    <li>O</li>
                    <li>
                        <a href="#P" class="govuk-link govuk-!-font-weight-bold">P</a>
                    </li>
                    <li>Q</li>
                    <li>
                        <a href="#R" class="govuk-link govuk-!-font-weight-bold">R</a>
                    </li>
                    <li>
                        <a href="#S" class="govuk-link govuk-!-font-weight-bold">S</a>
                    </li>
                    <li>
                        <a href="#T" class="govuk-link govuk-!-font-weight-bold">T</a>
                    </li>
                    <li>U</li>
                    <li>V</li>
                    <li>
                        <a href="#W" class="govuk-link govuk-!-font-weight-bold">W</a>
                    </li>
                    <li>X</li>
                    <li>Y</li>
                    <li>Z</li>
                </ul>
            </nav>


            <section id="A" class="letter-section">
                <h2 class="govuk-heading-l">A</h2>
                <div class="term" id="agent">
                    <h3 class="govuk-heading-m">Agent</h3>
                    <p class="govuk-body">A person or organisation appointed to act on another person or organisation’s behalf.</p>
                </div>
            </section>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            <section id="C" class="letter-section">
                <h2 class="govuk-heading-l">C</h2>
                <div class="term" id="connected-application">
                    <h3 class="govuk-heading-m">Connected application</h3>
                    <p class="govuk-body">A listed building consent application that is connected to a planning permission application.</p>
                </div>
                <div class="term" id="crown-body">
                    <h3 class="govuk-heading-m">Crown body</h3>
                    <p class="govuk-body">A public body that is considered to be part of the Crown, or government, in the UK. While the term 'Crown body' isn't always consistently defined, it generally includes government departments and other organisations that act on behalf of the Crown.</p>
                </div>
                <div class="term" id="crown-casework-team">
                    <h3 class="govuk-heading-m">Crown casework team (Ministry of Housing, Communities &amp; Local Government)</h3>
                    <p class="govuk-body">The team at Ministry of Housing, Communities &amp; Local Government that is responsible for Crown Development casework. This team handles the pre-application stage and informs the Planning Inspectorate of the Secretary of State’s national importance decision. They also notify local MPs of a Crown Development application.</p>
                </div>
                <div class="term" id="crown-development-application">
                    <h3 class="govuk-heading-m">Crown Development application</h3>
                    <p class="govuk-body">A type of planning permission application made to the Secretary of State for developments on Crown land, when the development is of national importance.</p>
                </div>
                <div class="term" id="cil">
                    <h3 class="govuk-heading-m">CIL</h3>
                    <p class="govuk-body">Community Infrastructure Levy is a charge that local planning authorities can impose on new developments to help fund infrastructure projects.</p>
                </div>
                <div class="term" id="crown-land">
                    <h3 class="govuk-heading-m">Crown land</h3>
                    <p class="govuk-body">Crown land is defined in section 293 of the Town and Country Planning Act 1990 as land in which there is a Crown interest or a Duchy interest.</p>
                </div>
            </section>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            <section id="E" class="letter-section">
                <h2 class="govuk-heading-l">E</h2>
                <div class="term" id="eia">
                    <h3 class="govuk-heading-m">EIA</h3>
                    <p class="govuk-body">Environmental Impact Assessment is a process used to evaluate the potential environmental consequences of a proposed development.</p>
                </div>
            </section>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            <section id="H" class="letter-section">
                <h2 class="govuk-heading-l">H</h2>
                <div class="term" id="hearing">
                    <h3 class="govuk-heading-m">Hearing</h3>
                    <p class="govuk-body">A round-table discussion led by the Planning Inspector or a panel of Planning Inspectors. The purpose of a hearing is to allow anyone who wishes to make oral representations to do so, and for the Inspector to clarify any points of fact or outstanding queries.</p>
                </div>
            </section>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            <section id="I" class="letter-section">
                <h2 class="govuk-heading-l">I</h2>
                <div class="term" id="inquiry">
                    <h3 class="govuk-heading-m">Inquiry</h3>
                    <p class="govuk-body">This is the most formal of the procedures and is usually only appropriate for the most complex applications. An inquiry is open to the public and is used to investigate and formally test the evidence. Expert evidence is presented, and witnesses can be cross-examined by the opposing side. The Inspector may also ask questions. People taking part can be formally represented by a lawyer.</p>
                </div>
                <div class="term" id="interested-party">
                    <h3 class="govuk-heading-m">Interested party</h3>
                    <p class="govuk-body">Any person who submits a comment during the representations period.</p>
                </div>
                <div class="term" id="issues-statement">
                    <h3 class="govuk-heading-m">Issues statement</h3>
                    <p class="govuk-body">A statement written by the Planning Inspector setting out what, in their view, are the key issues to be considered at the hearing.</p>
                </div>
            </section>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            <section id="L" class="letter-section">
                <h2 class="govuk-heading-l">L</h2>
                <div class="term" id="lbc">
                    <h3 class="govuk-heading-m">LBC</h3>
                    <p class="govuk-body">Listed building consent is permission to make certain changes to a listed building.</p>
                </div>
                <div class="term" id="lpa">
                    <h3 class="govuk-heading-m">LPA</h3>
                    <p class="govuk-body">A local planning authority is responsible for managing development and land use within their local area, making sure it aligns with local and national planning rules and policies. The local planning authority is a statutory consultee on Crown Development applications and must provide a detailed response to the application. It will put up a site notice and/or write to the owners or occupiers of adjoining land. The local planning authority will also help with hosting hearing and inquiries.</p>
                </div>
            </section>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            <section id="M" class="letter-section">
                <h2 class="govuk-heading-l">M</h2>
                <div class="term" id="mhclg">
                    <h3 class="govuk-heading-m">MHCLG</h3>
                    <p class="govuk-body">The Ministry of Housing, Communities &amp; Local Government is the ministerial government department responsible for housing, communities, and local government. It handles the pre-application process for Crown Development applications and determines if a development is of national importance on behalf of the Secretary of State.</p>
                </div>
            </section>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            <section id="N" class="letter-section">
                <h2 class="govuk-heading-l">N</h2>
                <div class="term" id="national-importance">
                    <h3 class="govuk-heading-m">National importance</h3>
                    <p class="govuk-body">In the context of a Crown Development application, this refers to proposed developments that have significant implications for the nation, impacting areas beyond local interests. A development is considered of national importance if it: involves national security or foreign governments, contributes to national public services or infrastructure, supports responses to emergencies, has significant economic, social, or environmental effects at a regional or national level.</p>
                </div>
            </section>
                        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            <section id="P" class="letter-section">
                <h2 class="govuk-heading-l">P</h2>
                <div class="term" id="pins">
                    <h3 class="govuk-heading-m">PINS</h3>
                    <p class="govuk-body">The Planning Inspectorate is an executive agency of the Ministry of Housing, Communities and Local Government of the United Kingdom Government with responsibility for handling non-urgent Crown development applications.</p>
                </div>
                <div class="term" id="planning-practice-guidance">
                    <h3 class="govuk-heading-m">Planning Practice Guidance</h3>
                    <p class="govuk-body">National planning guidance produced by the Ministry of Housing, Communities and Local Government.</p>
                </div>
                <div class="term" id="proofs-of-evidence">
                    <h3 class="govuk-heading-m">Proofs of evidence</h3>
                    <p class="govuk-body">A written document containing the evidence that a specific witness will give at an inquiry.</p>
                </div>
            </section>
                        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            <section id="R" class="letter-section">
                <h2 class="govuk-heading-l">R</h2>
                <div class="term" id="recovered-application">
                    <h3 class="govuk-heading-m">Recovered application</h3>
                    <p class="govuk-body">An application that gets decided by the Secretary of State rather than the Planning Inspectorate. The Planning Inspectorate still manages the application process and issues a final report to the Secretary of State.</p>
                </div>
                <div class="term" id="representations-period">
                    <h3 class="govuk-heading-m">Representations period</h3>
                    <p class="govuk-body">This is the time period during which written representations (comments and supporting documents) can be submitted.</p>
                </div>
                <div class="term" id="rule-13">
                    <h3 class="govuk-heading-m">Rule 13</h3>
                    <p class="govuk-body">Refers to Rule 13(4) of the Inquiries Rules which allows interested parties to request a more active role in the process. This is granted at the Planning Inspector’s discretion. Rule 13 parties must submit a statement of case and proof(s) of evidence, and will be entitled to appear at the inquiry.</p>
                </div>
            </section>
                        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            <section id="S" class="letter-section">
                <h2 class="govuk-heading-l">S</h2>
                <div class="term" id="statutory-party">
                    <h3 class="govuk-heading-m">Statutory party</h3>
                    <p class="govuk-body">Any person who has an interest in the land that the applicant is looking to build on. For example, owners/co-owners/occupiers/tenants who are affected by the application. When an applicant submits an application, they are responsible for notifying statutory parties. </p>
                </div>
                <div class="term" id="statement-of-case">
                    <h3 class="govuk-heading-m">Statement of case</h3>
                    <p class="govuk-body">A document that the applicant, local planning authority and statutory parties can choose to submit if the application goes to inquiry. The full statement of case contains all the details and arguments (as well as supporting documents and evidence) that they will put forward to make their case.</p>
                </div>
                <div class="term" id="statements-of-matters">
                    <h3 class="govuk-heading-m">Statements of matters</h3>
                    <p class="govuk-body">Part of the inquiry process. A document written by the Inspector outlining key points to be discussed at the inquiry.</p>
                </div>
            </section>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            <section id="W" class="letter-section">
                <h2 class="govuk-heading-l">W</h2>
                <div class="term" id="a-written-representation">
                    <h3 class="govuk-heading-m">Written representation</h3>
                    <p class="govuk-body">With this procedure, the Planning Inspectors will consider written representations from the applicant, the local planning authority (LPA) and anyone else who has an interest in the application. They will make a decision based on the written representations.</p>
                </div>
                <div class="term" id="the-written-representations-procedure">
                    <h3 class="govuk-heading-m">Written representations procedure</h3>
                    <p class="govuk-body">Refers to the comment and any supporting documents submitted by an interested party on a planning application. Written representations are used to express views on the proposed development and are considered by Planning Inspectors before they make a decision on an application. </p>
                </div>
            </div>
        </div>

    {% endblock %}