{% extends "layouts/main.njk" %}
{% set serviceName %}
Crown Developments prototype
{% endset%}

{% block content %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Feedback links</h1>

        <h2 class="govuk-heading-m">Feature description</h2>
        <ul class="govuk-list">
          <!-- user value (what the feature lets someone do) -->
          <li>Making links to feedback forms more prominent in the front office.</li>
        </ul>
        <!-- <h3 class="govuk-heading-s">Jira links</h3> <ul class="govuk-list"> <li></li> </ul> <h2 class="govuk-heading-m">Accessibility considerations</h2> <ul class="govuk-list"> testing, aria labels, other things to specify <li> <a href="" class="govuk-link"></a> </li> </ul>-->

        <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">

            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#version-1">
                Version 1
              </a>
            </li>
            <!--[VERSION 2] <li class="govuk-tabs__list-item govuk-tabs__list-item--selected"> <a class="govuk-tabs__tab" href="#version-2"> Version 2 </a> </li>-->
          </ul>

          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="version-1">
            <h2 class="govuk-heading-m">Version 1</h2>
            <!--<h3 class="govuk-heading-s">Change log</h3> <ul class="govuk-list govuk-list--bullet"> <li>[Changes made]</li> </ul> <a href="" class="govuk-button">[Link to prototype]</a>-->

            <h3 class="govuk-heading-s">Page list</h3>

            <ul class="govuk-list">
              <li>
                <a href="v1/detailed-information.html" class="govuk-link">
                  Detailed information</a>
              </li>
              <li>
                <a href="v1/application-information.html" class="govuk-link">
                  Application information</a>
              </li>
              <li>
                <a href="v1/application-information.html" class="govuk-link">
                  End of have your say journey</a>
              </li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <!--<div class="govuk-tabs__panel" id="version-2"> <h2 class="govuk-heading-m">[Version title]</h2> <ul class="govuk-list govuk-list--bullet"> <li>[Description]</li> </ul> <a href="" Class="govuk-button">[Link to prototype]</a> <details class="govuk-details"> <summary class="govuk-details__summary"> <span class="govuk-details__summary-text"> Page list </span> </summary> <div class="govuk-details__text"> <ul class="govuk-list"> <li><a href="" class="govuk-link"> [Links to pages]</a></li> </ul> </div> </details> <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> </div>-->
          </div>

        </div>

      </div>

    </div>

  </div>
{% endblock %}