{% extends "layouts/back-office.njk" %}

{% set pageName = "Home" %}

{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
      <h1 class="govuk-heading-l">
        Check your answers
      </h1>
    </div>
  </div>


  <style nonce="">
    .app-task-list {
      padding-left: 0;
    }

    .app-task-list>li {
      position: relative;
      list-style-type: none;

    }

    .app-task-list__section .govuk-tag {
      position: absolute;
      top: 3px;
      right: 0;
    }

    .app-task-list .govuk-summary-list {
      border-top: 1px solid #b1b4b6;
    }
  </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Application type
          </dt>
          <dd class="govuk-summary-list__value">
            Planning permission
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/cases/create-a-case/questions/type-of-application">Change<span
                class="govuk-visually-hidden"> What type of application is it?</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Local planning authority
          </dt>
          <dd class="govuk-summary-list__value">
            Ashfield District Council<br>
            160 Tooley Street<br>
            London<br>
            SE1 2QH<br>
            planning.applications@southwark.gov.uk<br>
            020 7525 5403
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/cases/create-a-case/questions/local-planning-authority">Change<span
                class="govuk-visually-hidden"> Select the Local Planning Authority for this application</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Secondary local planning authority
          </dt>
          <dd class="govuk-summary-list__value">
            Bristol City Council <br>
            City Hall <br>
            College Green<br>
            Bristol <br>
            BS1 5UY<br>
            development.management@bristol.gov.uk<br>
            0117 922 3000
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/cases/create-a-case/questions/local-planning-authority">Change<span
                class="govuk-visually-hidden"> Select the Local Planning Authority for this application</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Applicant
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">
              <li>Department for Transport<br>Great Minster House<br>33 Horseferry Road<br>London<br>SW1P 4DR</li>
              <li>Department for Environment, Food &amp; Rural Affairs<br>Seacole Building<br>2 Marsham
                Street<br>London<br>SW1P 4DF</li>
            </ul>
            <a href="#" id="toggle-applicants" class="govuk-link"
              onclick="event.preventDefault(); var s=document.getElementById('applicants-extra'); if(s.style.display==='none'){s.style.display=''; this.textContent='Hide';}else{s.style.display='none'; this.textContent='Show 3 more';}">Show
              3 more</a>
            <br>
            <span id="applicants-extra" style="display:none;">
              <ul class="govuk-list govuk-list--bullet">
                <li>HM Revenue and Customs<br>100 Parliament Street<br>Westminster<br>London<br>SW1A 2BQ </li>
                <li>National Highways<br>3 Ridgeway<br>Quinton Business Park<br>Birmingham<br>B32 1AF</li>
                <li>National Grid<br>1 - 3 Strand<br>London<br>WC2N 5EH</li>
              </ul>
            </span>


          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/cases/create-a-case/questions/applicant-name">Change<span
                class="govuk-visually-hidden"> What is the name of the Applicant organisation?</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Applicant contacts
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">

              <li>Priya Bennett<br>
                priya.bennett@environment.gov.uk<br>
                +44 7911 123456</li>

              <li>Marcus O'Connell<br>
                marcus.oconnell@justice.gov.uk<br>
                +44 7700 900123</li>
            </ul>
            <a href="#" id="toggle-applicant-contacts" class="govuk-link"
              onclick="event.preventDefault(); var s=document.getElementById('applicant-contacts-extra'); if(s.style.display==='none'){s.style.display=''; this.textContent='Hide';}else{s.style.display='none'; this.textContent='Show 8 more';}">Show
              8 more</a>
            <br>
            <span id="applicant-contacts-extra" style="display:none;">
              <ul class="govuk-list govuk-list--bullet">

                <li>Sophie Rahman<br>
                  sophie.rahman@education.gov.uk<br>
                  +44 7725 881234</li>

                <li>Tom Whittaker<br>
                  tom.whittaker@transport.gov.uk<br>
                  +44 7750 112233</li>

                <li>Jasmin Clarke<br>
                  jasmin.clarke@digital.cabinet-office.gov.uk<br>
                  +44 7788 665544</li>

                <li>Elliot Fraser<br>
                  elliot.fraser@communities.gov.uk<br>
                  +44 7700 998877</li>

                <li>Nina Patel<br>
                  nina.patel@health.gov.uk<br>
                </li>

                <li>Gareth Hughes<br>
                  gareth.hughes@homeoffice.gov.uk<br>
                </li>

                <li>Leila Morgan<br>
                  leila.morgan@culture.gov.uk<br>
                  +44 7712 334455</li>

                <li>Owen McBride<br>
                  owen.mcbride@defence.gov.uk<br>
                  +44 7799 221100</li>

              </ul>
            </span>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/cases/create-a-case/questions/applicant-address">Change<span
                class="govuk-visually-hidden"> What is the address of the Applicant?</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Has agent
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/cases/create-a-case/questions/has-agent">Change<span
                class="govuk-visually-hidden"> Is the applicant using an agent?</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Agent
          </dt>
          <dd class="govuk-summary-list__value">
            Stratwell Global Real Estate Ltd<br> 120 Bishopsgate<br> London<br> EC2N 4AD
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/cases/create-a-case/questions/agent-name">Change<span
                class="govuk-visually-hidden"> What is the name of the Agent organisation?</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Agent contacts
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">
              <li>
                Amina Rahman<br>
                amina.rahman@stratwellglobal.com<br>
                +44 20 7946 8711<br>
              </li>
              <li>
                James Okafor<br>
                james.okafor@stratwellglobal.com<br>
                +44 20 7946 8712<br>
              </li>
            </ul>
            <a href="#" id="toggle-agent-contacts" class="govuk-link"
              onclick="event.preventDefault(); var s=document.getElementById('agent-contacts-extra'); if(s.style.display==='none'){s.style.display=''; this.textContent='Hide';}else{s.style.display='none'; this.textContent='Show 8 more';}">Show
              8 more</a>
            <br>
            <span id="agent-contacts-extra" style="display:none;">
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  Sophie Zhang<br>
                  sophie.zhang@stratwellglobal.com<br>
                </li>
                <li>
                  Tomás García<br>
                  tomas.garcia@stratwellglobal.com<br>
                  +44 20 7946 8714<br>
                </li>
                <li>
                  Priya Desai<br>
                  priya.desai@stratwellglobal.com<br>
                </li>
                <li>
                  Luca Moretti<br>
                  luca.moretti@stratwellglobal.com<br>
                  +44 20 7946 8716<br>
                </li>
                <li>
                  Chloe Bennett<br>
                  chloe.bennett@stratwellglobal.com<br>
                  +44 20 7946 8717<br>
                </li>
                <li>
                  Aneta Kowalska<br>
                  aneta.kowalska@stratwellglobal.com<br>
                  +44 20 7946 8723<br>
                </li>
                <li>
                  Kwame Boateng<br>
                  kwame.boateng@stratwellglobal.com<br>
                </li>
                <li>
                  Nia Roberts<br>
                  nia.roberts@stratwellglobal.com<br>
                  +44 20 7946 8719<br>
                </li>
              </ul>
            </span>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/cases/create-a-case/questions/agent-address">Change<span
                class="govuk-visually-hidden"> What is the address of the Agent?</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Site address
          </dt>
          <dd class="govuk-summary-list__value">
            Plot 12, Avondale Way<br>
            Kingsford Road<br>
            Southmere<br>
            Avonshire<br>
            AS4 9LT
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/cases/create-a-case/questions/site-address">Change<span
                class="govuk-visually-hidden"> What is the address of the site?</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Site coordinates
          </dt>
          <dd class="govuk-summary-list__value">

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/cases/create-a-case/questions/site-coordinates">Answer<span
                class="govuk-visually-hidden"> What are the coordinates of the site?</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Site area (ha)
          </dt>
          <dd class="govuk-summary-list__value">
            12.4 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/cases/create-a-case/questions/site-area">Change<span
                class="govuk-visually-hidden"> What is the area of the site in hectares?</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Development description
          </dt>
          <dd class="govuk-summary-list__value">
            The proposed Southmere Integrated Care Campus represents a strategic investment in regional healthcare
            infrastructure, designed to meet the growing needs of the Avonshire population. 

            The site spans approximately 12.4 hectares within Meridian Park, a designated strategic development zone.
            The proposal includes vehicular access from Kingsford Road, pedestrian and cycle links to surrounding areas,
            and provision for future expansion.
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/cases/create-a-case/questions/development-description">Change<span
                class="govuk-visually-hidden"> What is the description of the development?</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Expected date of submission
          </dt>
          <dd class="govuk-summary-list__value">
            1 January 2026
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/cases/create-a-case/questions/expected-date-of-submission">Change<span
                class="govuk-visually-hidden"> What is the expected date of submission?</span></a>
          </dd>
        </div>
      </dl>



      </form>

    </div>
  </div>


</main>



<a href="/index.html" class="govuk-button">Accept & Submit</a>

{% endblock %}