{% extends "layouts/back-office.njk" %}

{% set pageName = "Home" %}

{% block content %}

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="" method="POST" novalidate="">
                <input type="hidden" name="_csrf" value="">

                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l" for="lpaId">
                            Select the local planning authority for this application
                        </label>
                    </h1>
                    <div>
                        <div class="autocomplete__wrapper">
                            <div class="autocomplete__status" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;">
                                <div id="lpaId__status--A" role="status" aria-atomic="true" aria-live="polite"></div>
                                <div id="lpaId__status--B" role="status" aria-atomic="true" aria-live="polite"></div>
                            </div><input aria-describedby="lpaId__assistiveHint" aria-expanded="false" aria-controls="lpaId__listbox" aria-autocomplete="both" autocomplete="off" class="autocomplete__input autocomplete__input--default" id="lpaId" name="" placeholder="" type="text" role="combobox">
                            <ul aria-labelledby="lpaId" id="lpaId__listbox" role="listbox" class="autocomplete__menu autocomplete__menu--inline autocomplete__menu--hidden"></ul>
                            <span id="lpaId__assistiveHint" style="display: none;">When autocomplete results are available use up and down arrows to review and enter to select. Touch device users, explore by touch or with swipe gestures.</span></div>
                    </div>
                    <select class="govuk-select" id="lpaId-select" name="lpaId" style="display: none;">
                        <option value="" selected="" data-cy="answer-"></option>
                        <option value="4515ebac-65e2-4bcd-bc0b-a6fee69ae25a" data-cy="answer-4515ebac-65e2-4bcd-bc0b-a6fee69ae25a">System Test Borough Council</option>
                        <option value="1a76f67e-5828-4532-bd6f-aa7ef40a13ca" data-cy="answer-1a76f67e-5828-4532-bd6f-aa7ef40a13ca">Another System Test Borough Council</option>
                    </select>
                </div>

                <a href="2a-confirm-secondary" class="govuk-button">Continue</a>

            </form>
        </div>
    </div>


            {% endblock %}