{% extends "layouts/front-office.html" %}

{% set pageName = "Home" %}

{% block content %}


<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-0">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-third">
                {{ mojSideNavigation({
                label: "Side navigation",
                items: [{
                text: "Application Information",
                href: "application-information"
                }, {
                text: "Documents",
                href: "documents"
                }, {
                text: "Have your say",
                href: "have-your-say-on-a-crown-development-application"
                }, {
                text: "Application updates",
                href: "application-updates.html"
                }, {
                text: "Written representations",
                href: "written-reps.html",
                active: true
                }]
                }) }}
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h3 class="govuk-heading-s">Filters</h3>
                <div style="padding-bottom:10px;"><a href="" class="govuk-link"> Show all filters</a></div>
                <details class="govuk-details govuk-!-margin-bottom-0" id="filter-panel">
                    <summary class="govuk-details__summary" style="padding:10px 30px;width:80%">
                        <a class="govuk-link">
                            Submitted by
                        </a>
                    </summary>
                    <div style="padding-left:30px;">
                        <form class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <div class="govuk-grid-row">
                                    <div class="">
                                        <fieldset class="govuk-fieldset" aria-describedby="type-of-application-hint">
                                            <div class="govuk-checkboxes govuk-checkboxes--small">
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="type-1" name="type"
                                                        type="checkbox" value="Planning permission">
                                                    <label class="govuk-label govuk-checkboxes__label" for="type-1">
                                                        Interested party (23)
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="type-2" name="type"
                                                        type="checkbox"
                                                        value="Outline planning permission with some matters reserved">
                                                    <label class="govuk-label govuk-checkboxes__label" for="type-2">
                                                        Consultee (20)
                                                    </label>
                                                </div>

                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </details>
                <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

                <details class="govuk-details govuk-!-margin-top-3 govuk-!-margin-padding-0 govuk-!-margin-bottom-0">
                    <summary class="govuk-details__summary" style="padding:10px 30px;width:80%">
                        <a class="govuk-link">
                            Contains attachments
                        </a>
                    </summary>
                    <div style="padding-left:30px;">
                        <form class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <div class="govuk-grid-row">
                                    <div class="">
                                        <fieldset class="govuk-fieldset" aria-describedby="type-of-application-hint">
                                            <div class="govuk-checkboxes govuk-checkboxes--small">
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="type-1" name="type"
                                                        type="checkbox" value="Planning permission">
                                                    <label class="govuk-label govuk-checkboxes__label" for="type-1">
                                                        Yes (3)
                                                    </label>
                                                </div>
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="type-2" name="type"
                                                        type="checkbox"
                                                        value="Outline planning permission with some matters reserved">
                                                    <label class="govuk-label govuk-checkboxes__label" for="type-2">
                                                        No (72)
                                                    </label>
                                                </div>

                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </details>
                <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

                <details class="govuk-details govuk-!-margin-top-3 govuk-!-margin-padding-0" id="filter-panel">
                    <summary class="govuk-details__summary" style="padding:10px 30px;width:80%">
                        <a class="govuk-link">Date submitted</a>
                    </summary>
                    <div style="padding-left:30px;">
                        <form class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xs">
                                    <h4 class="govuk-fieldset__heading">
                                        From
                                    </h4>
                                </legend>
                                <div id="passport-issued-hint" class="govuk-hint">
                                    For example, 5 7 2022
                                </div>
                                <div class="govuk-date-input" id="passport-issued">
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label"
                                                for="passport-issued-day">
                                                Day
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                id="passport-issued-day" name="passport-issued-day" type="text"
                                                inputmode="numeric">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label"
                                                for="passport-issued-month">
                                                Month
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                id="passport-issued-month" name="passport-issued-month" type="text"
                                                inputmode="numeric">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label"
                                                for="passport-issued-year">
                                                Year
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                                id="passport-issued-year" name="passport-issued-year" type="text"
                                                inputmode="numeric">
                                        </div>
                                    </div>
                                </div>
                                <legend style="margin-top:20px"
                                    class="govuk-fieldset__legend govuk-fieldset__legend--xs">
                                    <h4 class="govuk-fieldset__heading">
                                        To
                                    </h4>
                                </legend>
                                <div id="passport-issued-hint" class="govuk-hint">
                                    For example, 27 3 2023
                                </div>
                                <div class="govuk-date-input" id="passport-issued">
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label"
                                                for="passport-issued-day">
                                                Day
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                id="passport-issued-day" name="passport-issued-day" type="text"
                                                inputmode="numeric">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label"
                                                for="passport-issued-month">
                                                Month
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                id="passport-issued-month" name="passport-issued-month" type="text"
                                                inputmode="numeric">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label"
                                                for="passport-issued-year">
                                                Year
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                                id="passport-issued-year" name="passport-issued-year" type="text"
                                                inputmode="numeric">
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    </div>

                </details>
                <a href="written-reps-selected" class="govuk-button" style="margin-bottom:0px;">
                    Apply filters
                </a>

            </div>

            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-xl">CROWN/2025/0000001</span>
                <h1 class="govuk-heading-xl">Written representations</h1>
                <div>
                    <div id="search-hint" class="govuk-hint">
                        Search by keywords or by name of person or organisation who made the submission.</div>
                    <form class="govuk-form-group" style="display: flex; gap: 8px; align-items: center">
                        <label class="govuk-label govuk-visually-hidden" for="keyword-search">Keyword search</label>
                        <input class="govuk-input" id="keyword-search" name="keyword-search" type="text"
                            autocomplete="off" style="width:100%;">
                        <button class="govuk-button" id="keyword-search-button" type="submit"
                            style="margin-bottom:0px;">Search</button>
                    </form>

                </div>
                <div id="pagination" class="govuk-body">
                    <p class="govuk-body">
                        Showing
                        <strong>1</strong>
                        to
                        <strong>25</strong>
                        of
                        <strong>51</strong>
                        representations, newest first.
                    </p>

                    <span>
                        <strong>Results per page</strong>
                    </span>&nbsp;&nbsp;&nbsp;&nbsp;

                    <span class="govuk-body">25</span>

                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a class="govuk-link--no-visited-state" href="?itemsPerPage=50" data-pagination="50">50</a>

                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a class="govuk-link--no-visited-state" href="?itemsPerPage=100" data-pagination="100">100</a>

                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/B9D32-A2C10" class="govuk-link">
                            Person Twenty on behalf of Person Kappa
                        </a>
                    </p>
                    <p class="govuk-body">
                        Tutis suffragium timidus.
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                24 Jun 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/D2B4F-F0C30" class="govuk-link">
                            Person Twenty on behalf of Person Kappa
                        </a>
                    </p>
                    <p class="govuk-body">
                        Surculus auxilium volup vos distinctio vetus solum thesis.
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                8 Jun 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/5C62A-D9F71" class="govuk-link">
                            Person Twenty on behalf of Person Kappa
                        </a>
                    </p>
                    <p class="govuk-body">
                        Cubicularis truculenter adstringo argumentum statua itaque.
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                5 Jun 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/E3B94-F5D67" class="govuk-link">
                            Person Twenty on behalf of Person Kappa
                        </a>
                    </p>
                    <p class="govuk-body">
                        Triduana tardus demulceo atqui thema agnitio concido.
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                28 May 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/0F8A1-C3D20" class="govuk-link">
                            Person Twenty on behalf of Person Kappa
                        </a>
                    </p>
                    <p class="govuk-body">
                        Atrocitas sol decens.
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                14 May 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/C6A72-D1B04" class="govuk-link">
                            Person Twenty on behalf of Person Kappa
                        </a>
                    </p>
                    <p class="govuk-body">
                        Doloribus clamo dens concido cum quasi aperio verecundia demonstro.
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                12 May 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/84F02-B6D74" class="govuk-link">
                            Person Twenty on behalf of Person Kappa
                        </a>
                    </p>
                    <p class="govuk-body">
                        Tabernus cilicium campana abbas.
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                12 May 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/9C7A2-B9F45" class="govuk-link">
                            Person Twenty on behalf of Person Kappa
                        </a>
                    </p>
                    <p class="govuk-body">
                        Curvo auditor damnatio tantum cupiditas creber.
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                1 May 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/79A35-F1B06" class="govuk-link">
                            Person Twenty on behalf of Person Kappa
                        </a>
                    </p>
                    <p class="govuk-body">
                        Thesis clam degero absum deputo curto.
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                1 May 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/E8C21-F0A84" class="govuk-link">
                            Person Twenty on behalf of Person Kappa
                        </a>
                    </p>
                    <p class="govuk-body">
                        Credo solutio subito vaco auxilium appositus caste crux bibo.
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                17 Apr 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/D9F73-C8A16" class="govuk-link">
                            Person Twenty on behalf of Person Kappa
                        </a>
                    </p>
                    <p class="govuk-body">
                        Conqueror chirographum cumque adflicto.
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                16 Apr 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/4A72B-B9F50" class="govuk-link">
                            Person Twenty on behalf of Person Kappa
                        </a>
                    </p>
                    <p class="govuk-body">
                        Clamo allatus magni defetiscor apud corona compono.
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                5 Apr 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/B5A60-C9D10" class="govuk-link">
                            Person Twenty on behalf of Person Kappa
                        </a>
                    </p>
                    <p class="govuk-body">
                        Culpa suppono totus.
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                3 Apr 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/3D9F2-B8C10" class="govuk-link">
                            Person Twenty on behalf of Person Kappa
                        </a>
                    </p>
                    <p class="govuk-body">
                        Comptus urbs corrupti suscipit utilis sunt ab confero suadeo.
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                26 Mar 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/F1A72-B3C65" class="govuk-link">
                            Person Twenty on behalf of Person Kappa
                        </a>
                    </p>
                    <p class="govuk-body">
                        Necessitatibus sublime timidus voluptates acerbitas amitto.
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                22 Mar 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/F1C50-D3A92" class="govuk-link">
                            Person Twenty on behalf of Person Kappa
                        </a>
                    </p>
                    <p class="govuk-body">
                        Blandior accusantium vaco ascit.
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                19 Mar 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/7D6E4-D3A92" class="govuk-link">
                            Person Twenty on behalf of Person Kappa
                        </a>
                    </p>
                    <p class="govuk-body">
                        Amaritudo talus clementia sumptus defluo considero denego uterque.
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                15 Mar 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/6B92F-D5A84" class="govuk-link">
                            Person Twenty on behalf of Person Kappa
                        </a>
                    </p>
                    <p class="govuk-body">
                        Circumvenio viduo decet aliquam argentum laudantium deinde ustilo collum.
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                8 Feb 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/9A72D-C1F83" class="govuk-link">
                            Person Twenty on behalf of Person Kappa
                        </a>
                    </p>
                    <p class="govuk-body">
                        Tribuo cohors cupiditate.
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                5 Feb 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/E2C19-F4B70" class="govuk-link">
                            Person Twenty on behalf of Person Kappa
                        </a>
                    </p>
                    <p class="govuk-body">
                        Crudelis distinctio despecto audeo.
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                4 Feb 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/9D827-48F37" class="govuk-link">
                            Person Eleven on behalf of Person Alpha
                        </a>
                    </p>
                    <p class="govuk-body">
                        Some comment about this application
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                3 Feb 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/78063-E19BB" class="govuk-link">
                            Person Six on behalf of Org One
                        </a>
                    </p>
                    <p class="govuk-body">
                        <span class="redacted" aria-hidden="true">Some ███████ about this application</span>
                        <span class="govuk-visually-hidden">Redacted representation comment</span>
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                3 Feb 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/1295C-726E8" class="govuk-link">
                            Person Four
                        </a>
                    </p>
                    <p class="govuk-body">
                        Some comment about this application
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                3 Feb 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/71282-6A474" class="govuk-link">
                            Person Seventeen on behalf of Person Eta
                        </a>
                    </p>
                    <p class="govuk-body">
                        <span class="redacted" aria-hidden="true">Some ███████ about this application</span>
                        <span class="govuk-visually-hidden">Redacted representation comment</span>
                    </p>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                3 Feb 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <a href="written-representations/80831-C32AC" class="govuk-link">
                            Person Twenty on behalf of Person Kappa
                        </a>
                    </p>
                    <p class="govuk-body">
                        Some comment about this application
                    </p>
                    <div cslass="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Submitted by:</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                <strong>Date submitted:</strong>
                                2 Feb 2025
                            </p>
                        </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                </div>
            </div>

        </div>
</div>
</div>
</div>

</div>
</main>
</div>

<div id="no-filters-panel" style="
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 1000;
    background: #fff;
    border: 2px solid #b1b4b6;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    padding: 16px 24px;
    display: flex;
    align-items: center;
">
    <a href="written-reps-selected" class="govuk-button govuk-button--secondary" style="margin:0;">
        Filters selected
    </a>
</div>

{% endblock %}