{% extends "features/bo-redesign/v3/layouts/back-office.html" %}
{% set currentArea = "cases" %}
{% set currentPage = "inquiry" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <a href="/features/bo-redesign/v3/back-office/cases" class="govuk-back-link">Back to all applications</a>

    {% if showSuccessBanner %}
    {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}


    {% call govukNotificationBanner({ type: "success" }) %} <h3 class="govuk-notification-banner__heading">
      {{ successMessage or "Application updated" }}
    </h3>
    {% endcall %}
    {% endif %}

  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">CROWN/2025/0000073</h1>
    <button class="govuk-button">Publish application</button>

    <h2 class="govuk-heading-m">External links</h2>
    <ul class="govuk-list ">
      <li class="govuk-link">
        <a class="external"
          href="https://pinso365.sharepoint.com/sites/CrownDevelopmentsDevSite1/Crown%20Developments/Forms/AllItems.aspx?FolderCTID=0x0120002AEB4E42385D4248BC40ED69E7C865EE&id=%2Fsites%2FCrownDevelopmentsDevSite1%2FCrown%20Developments%2FCROWN%2D2026%2D0000076"
          {% if currentPage=='documents' %} aria-current="location" {% endif %}>Sharepoint documents</a>
      </li>
      <li class="govuk-link">
        <a class="external" href="" {% if currentPage=='notify' %} aria-current="location" {% endif %}>GOV.UK
          Notify</a>
      </li>
    </ul>

    {% include "/features/bo-redesign/v3/components/side-nav/side-nav.njk" %}
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Notice of procedure date
        </dt>
        <dd class="govuk-summary-list__value">
          -
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link"
            href="/cases/fa0d8ba9-016f-44d0-a4ba-7425d3716784/inquiry/inquiry-procedure-notification-date">Change<span
              class="govuk-visually-hidden"> What is the Notice of procedure date? (Inquiry)</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Inquiry statements date
        </dt>
        <dd class="govuk-summary-list__value">
          -
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link"
            href="/cases/fa0d8ba9-016f-44d0-a4ba-7425d3716784/inquiry/inquiry-statements-date">Change<span
              class="govuk-visually-hidden"> What is the inquiry statements date? (Inquiry)</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Inquiry date
        </dt>
        <dd class="govuk-summary-list__value">
          -
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/cases/fa0d8ba9-016f-44d0-a4ba-7425d3716784/inquiry/inquiry-date">Change<span
              class="govuk-visually-hidden"> What is the inquiry date? (Inquiry)</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Inquiry duration
        </dt>
        <dd class="govuk-summary-list__value">
          -
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/cases/fa0d8ba9-016f-44d0-a4ba-7425d3716784/inquiry/inquiry-duration">Change<span
              class="govuk-visually-hidden"> What is the inquiry duration? (Inquiry)</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Inquiry venue
        </dt>
        <dd class="govuk-summary-list__value">
          -
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/cases/fa0d8ba9-016f-44d0-a4ba-7425d3716784/inquiry/inquiry-venue">Change<span
              class="govuk-visually-hidden"> What is the venue of the inquiry? (Inquiry)</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Inquiry notification date
        </dt>
        <dd class="govuk-summary-list__value">
          -
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link"
            href="/cases/fa0d8ba9-016f-44d0-a4ba-7425d3716784/inquiry/inquiry-notification-date">Change<span
              class="govuk-visually-hidden"> What is the inquiry notification date? (Inquiry)</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Inquiry case management conference date
        </dt>
        <dd class="govuk-summary-list__value">
          -
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link"
            href="/cases/fa0d8ba9-016f-44d0-a4ba-7425d3716784/inquiry/inquiry-case-management-conference-date">Change<span
              class="govuk-visually-hidden"> When is the inquiry case management conference? (Inquiry)</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Pre-inquiry meeting date
        </dt>
        <dd class="govuk-summary-list__value">
          -
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link"
            href="/cases/fa0d8ba9-016f-44d0-a4ba-7425d3716784/inquiry/inquiry-pre-meeting-date">Change<span
              class="govuk-visually-hidden"> What is the Pre-inquiry meeting date? (Inquiry)</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Inquiry proofs of evidence date
        </dt>
        <dd class="govuk-summary-list__value">
          -
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link"
            href="/cases/fa0d8ba9-016f-44d0-a4ba-7425d3716784/inquiry/inquiry-proofs-of-evidence-date">Change<span
              class="govuk-visually-hidden"> What is the inquiry proofs of evidence date? (Inquiry)</span></a>
        </dd>
      </div>
    </dl>

  </div>



  {% endblock %}