{% extends "layouts/back-office.html" %}

{% set pageName = "Home" %}

{% block content %}

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>


  <span class="govuk-caption-xl">CROWN/2025/0000010</span>
  <h1 class="govuk-heading-xl">Check agent contact details</h1>

  <p class="govuk-body">No agent contact details</p>

  <a href="multiple-agent.html" class="govuk-button govuk-button--secondary">Add details</a><br>

  <a href="multiple-agent-13#contacts" class="govuk-button">Save</a>

{% endblock %}