{% extends "layouts/back-office.html" %}

{% set pageName = "Home" %}

{% block content %}

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

 <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-body">
Removed agent contact details    </p>
    </div>
  </div>

  <span class="govuk-caption-xl">CROWN/2025/0000010</span>
  <h1 class="govuk-heading-xl">Check agent contact details</h1>

  <p class="govuk-body">No agent contact details</p>

  <a href="multiple-agent.html" class="govuk-button govuk-button--secondary">Add details</a><br>

  <a href="multiple-agent-13#contacts" class="govuk-button">Save</a>

{% endblock %}