{% extends "layouts/back-office.html" %}

{% set pageName = "Home" %}

{% block content %}

  <a href="index.html" class="govuk-back-link">Back</a>

  <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-body">
Added agent contact details    </p>
    </div>
  </div>

  <span class="govuk-caption-xl">CROWN/2025/0000010</span>
  <h1 class="govuk-heading-xl">Check agent contact details</h1>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Agent 1
    </dt>
      <dd class="govuk-summary-list__value">
      Agent Agent<br>
      agent@agent.com<br>
      07712345678
    </dd>
      <dd class="govuk-summary-list__actions">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href="multiple-agent-12">Remove<span class="govuk-visually-hidden"> contact details</span></a>
          </li>
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href="multiple-agent.html">Change<span class="govuk-visually-hidden"> contact details</span></a>
          </li>
        </ul>
      </dd>
    </div>
  </dl>
  <a href="multiple-agent-3.html" class="govuk-button govuk-button--secondary">Add another</a><br>

  <a href="multiple-agent-7#contacts" class="govuk-button">Save</a>

{% endblock %}