{% extends "layouts/back-office.html" %}

{% set pageName = "Home" %}

{% block content %}

    <a href="index.html" class="govuk-back-link">Back</a>

    <span class="govuk-caption-xl">CROWN/2025/0000010</span>
    <h1 class="govuk-heading-xl">Add agent contact details</h1>

    <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
First name  </label>
        <input class="govuk-input" id="event-name" name="eventName" type="text">
    </div>

    <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
Last name  </label>
        <input class="govuk-input" id="event-name" name="eventName" type="text">
    </div>

    <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
Email address  </label>
        <input class="govuk-input" id="event-name" name="eventName" type="text">
    </div>

    <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
Telephone number (optional) </label>
        <input class="govuk-input" id="event-name" name="eventName" type="text">
    </div>

    <a href="multiple-agent-2.html" class="govuk-button">Continue</a>

{% endblock %}