{% extends "layouts/main.njk" %}

{% set pageName = "Home" %}

{% block content %}

<h1 class="govuk-heading-l"> Application updates prototype </h1>

<h2 class="govuk-heading-m"> Front office </h2>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="front-office/application-summary">Application summary page</a>
  </li>
  <li>
    <a class="govuk-link" href="front-office/application-updates">Application updates page</a>
  </li>
</ul>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 class="govuk-heading-m">Back office </h2>

<h3 class="govuk-heading-s">Manage application</h3>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="back-office/1-manage-application.html">1: Manage application</a>
  </li>
</ul>

<h3 class="govuk-heading-s">Manage updates</h3>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="back-office/17-application-updates.html">17: Manage application updates</a>
  </li>
  <li>
    <a class="govuk-link" href="back-office/2-manage-application-updates-empty.html">2: No
      updates</a>
  </li>
  <li>
    <a class="govuk-link" href="back-office/7-success-published.html">7: Success - application
      published</a>
  </li>
  <li>
    <a class="govuk-link" href="back-office/12-success-deleted.html">12: Success - deleted
    </a>
  </li>
  <li>
    <a class="govuk-link" href="back-office/14-success-unpublished.html">14: Success - unpublished</a>
  </li>
  <li>
    <a class="govuk-link" href="back-office/15-success-saved.html">15: Success -
      saved</a>
  </li>
  <li>
    <a class="govuk-link" href="back-office/18-manage-no-changes.html">18: Important - no
      changes made</a>
  </li>
</ul>

<h3 class="govuk-heading-s">Update details</h3>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="back-office/3-create-application-update.html">3: New </a>
  </li>

  <li>
    <a class="govuk-link" href="back-office/9-change-page.html">9: Published </a>
  </li>
  <li>
    <a class="govuk-link" href="back-office/19-update-details-populated.html">18: Draft </a>
  </li>
</ul>

<h3 class="govuk-heading-s">Do you want to publish this update now?</h3>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="back-office/4-publish-update-now.html">4: Do you want to publish this update
      now?</a>
  </li>
</ul>

<h3 class="govuk-heading-s">Review and submit</h3>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="back-office/5-no.html">5: Don't publish now</a>
  </li>
  <li>
    <a class="govuk-link" href="back-office/6-yes.html">6: Publish now</a>
  </li>
  <li>
    <a class="govuk-link" href="back-office/8-review-application-update.html">8: Published update</a>
  </li>
  <li>
    <a class="govuk-link" href="back-office/10-review-unpublished-application-update.html">10: Unpublished
      update
    </a>
  </li>
</ul>

<h3 class="govuk-heading-s">Confirmation pages</h3>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="back-office/11-delete-update.html">11: Confirm delete</a>
  </li>

  <li>
    <a class="govuk-link" href="back-office/13-unpublish-page.html">13: Confirm unpublish</a>
  </li>

</ul>

{% endblock %}