{% extends "layouts/main.njk" %}

{% set pageName = "Home" %}


    - 
    - 
    - 
        
        <aside>
        ⚠️
        
        Needs validation
        
        </aside>
        
- Longer term- Front office: [Document filtering](https://app.mural.co/t/allpins6990/m/allpins6990/1746611803608/c3078216935143c36c2da98c51e21f31f54d319d?wid=1-1751975307688)
[205 - Document filtering](https://pins-ds.atlassian.net/browse/CROWN-205)
- Longer term- Back office: [case list page](https://app.mural.co/t/allpins6990/m/allpins6990/1746611803608/c3078216935143c36c2da98c51e21f31f54d319d?wid=3-1751975307688)
[210 - Case list filtering](https://pins-ds.atlassian.net/browse/CROWN-210)
- Base the design on NSIP: Left hand filtering panel with clickable pills and ‘Clear all filter’ functionality above results.


{% block content %}

<h1 class="govuk-heading-xl">Filter designs</h1>

<h2 class="govuk-heading-l">Find an application</h2>

<a class="govuk-button govuk-button--secondary" href="https://app.mural.co/t/allpins6990/m/allpins6990/1746611803608/c3078216935143c36c2da98c51e21f31f54d319d?wid=7-1751975307688">Mural link</a>
<a class="govuk-button govuk-button--secondary" href="https://pins-ds.atlassian.net/browse/CROWN-1091">Jira ticket 1091</a>

<p class="govuk-body">Filter options:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>Application type</li>
    <li> Application stage</li>
</ul>

<div>
<a class="govuk-button govuk-button--start" href="">Start <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false" aria-hidden="true">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
  </svg></a>
</div>

<h2 class="govuk-heading-l">Written representations</h2>

<a class="govuk-button govuk-button--secondary" href="https://app.mural.co/t/allpins6990/m/allpins6990/1746611803608/c3078216935143c36c2da98c51e21f31f54d319d?wid=5-1751975307688">Mural link</a>
<a class="govuk-button govuk-button--secondary" href="https://pins-ds.atlassian.net/browse/CROWN-1090">Jira ticket 1090</a>

<p class="govuk-body">Filter options:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>Submitted by</li>
    <li>Attachments (y/n)</li>
    <li>Date submitted</li>
</ul>

<div>
<a class="govuk-button govuk-button--start" href="">Start <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false" aria-hidden="true">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
  </svg></a>
</div>

{% endblock %}