{% extends "layouts/back-office.html" %}

{% set pageName = "Home" %}

{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-body">Added applicant organisation details</p>
  </div>
</div>

<span class="govuk-caption-xl">CROWN/2025/0000010</span>
<h1 class="govuk-heading-xl">Check applicant organisation details</h1>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Organisation 1
        </dt>
        <dd class="govuk-summary-list__value">
            Example organisation<br>
            Flat 1, 2 Test house<br>
            Test road<br>
            Test city<br>
            County<br>
            TE51 7ES
        </dd>
        <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="20">Remove<span class="govuk-visually-hidden"> contact
                            details</span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="15">Change<span class="govuk-visually-hidden"> contact
                            details</span></a>
                </li>
            </ul>
        </dd>
    </div>
     <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Organisation 2
        </dt>
        <dd class="govuk-summary-list__value">
            Example organisation<br>
            2 Test house<br>
            Test road<br>
            Test city<br>
            County<br>
            TE51 7ES
            
        </dd>
        <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="20">Remove<span class="govuk-visually-hidden"> contact
                            details</span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="15">Change<span class="govuk-visually-hidden"> contact
                            details</span></a>
                </li>
            </ul>
        </dd>
    </div>
</dl>
<a href="5" class="govuk-button govuk-button--secondary">Add another</a><br>

<a href="23" class="govuk-button">Save</a>

{% endblock %}