{% extends "layouts/main.njk" %}
{% set serviceName %}
Crown Developments prototype
{% endset%}

{% block content %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">LPA questionnaire validation</h1>

        <h2 class="govuk-heading-m">Feature description</h2>
        <ul class="govuk-list">
          <li>Designing validation to set case as special vs regular to trigger LPA questionnaire email</li>
        </ul>

        <h3 class="govuk-heading-s">Jira links</h3>
        <ul class="govuk-list">
          <li><a href="https://pins-ds.atlassian.net/browse/CROWN-1409">Crown-1409</a></li>
        </ul>

      

        <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">

            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#version-1">
                Version 1
              </a>
            </li>
            <!--[VERSION 2] <li class="govuk-tabs__list-item govuk-tabs__list-item--selected"> <a class="govuk-tabs__tab" href="#version-2"> Version 2 </a> </li>-->
          </ul>

          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="version-1">
            <h2 class="govuk-heading-m">Version 1</h2>
            <h3 class="govuk-heading-s">Change log</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>Merge 3 questions into one</li>
              <li>Complete validation on page</li>
              <li>Update application information page</li>
            </ul>

          
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Page list
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li>
                    <a href="v1/application-info-empty#details" class="govuk-link">
                      Application information - empty</a>
                  </li>
                  <li>
                    <a href="v1/new-question-page" class="govuk-link">
                      New question page</a>
                  </li>
                  <li>
                    <a href="v1/new-question-page-error" class="govuk-link">
                      New question page with validation error</a>
                  </li>
                  <li>
                    <a href="v1/application-info-populated#details" class="govuk-link">
                      Application information- populated</a>
                  </li>
                </ul>
              </div>

            <!--<div class="govuk-tabs__panel" id="version-2"> <h2 class="govuk-heading-m">[Version title]</h2> <ul class="govuk-list govuk-list--bullet"> <li>[Description]</li> </ul> <a href="" Class="govuk-button">[Link to prototype]</a> <details class="govuk-details"> <summary class="govuk-details__summary"> <span class="govuk-details__summary-text"> Page list </span> </summary> <div class="govuk-details__text"> <ul class="govuk-list"> <li><a href="" class="govuk-link"> [Links to pages]</a></li> </ul> </div> </details> <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> </div>-->
          </div>

        </div>

      </div>

    </div>

  </div>
{% endblock %}