{% extends "layouts/back-office.html" %}

{% block content %}

<a href="javascript:history.back()" class="govuk-back-link" style="margin:0px">Back</a>

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">
                Review published update
            </h1>
        </div>
    </div>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Update details
            </dt>
            <dd class="govuk-summary-list__value">
                New site assessment issued
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link"
                    href="create-update/update-details.html">Change<span
                        class="govuk-visually-hidden"> details</span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">
                First published
            </dt>
            <dd class="govuk-summary-list__value">
                8 January 2026
            </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">
                Last edited
            </dt>
            <dd class="govuk-summary-list__value">
                8 January 2026
            </dd>
        </div>
    </dl>
    <div class="govuk-button-group">
        <form method="POST">
            <a href="unpublish.html"
                role="button" draggable="false" class="govuk-button govuk-button--warning" data-module="govuk-button"
                data-govuk-button-init="">
                Unpublish update
            </a>
        </form>
    </div>
</main>


{% endblock %}