<!--Custom styling-->
<style>


</style>

<!--Filter HTML-->

<details class="govuk-details govuk-!-margin-top-3">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Filters
        </span>
    </summary>




    <div class="govuk-details__text">

        <h3 class="govuk-heading-s">Status</h3>
        <form class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <div class="govuk-grid-row">
                    <div class="govuk-!-margin-left-6"">
                        <fieldset class=" govuk-fieldset" aria-describedby="stage-hint">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="stage-accepted" name="stage" type="checkbox"
                                    value="Accepted">
                                <label class="govuk-label govuk-checkboxes__label" for="stage-accepted">
                                    Accepted (0)
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="stage-consultation" name="stage"
                                    type="checkbox" value="Consultation">
                                <label class="govuk-label govuk-checkboxes__label" for="stage-consultation">
                                    Rejected (2)
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="stage-procedure" name="stage" type="checkbox"
                                    value="Procedure choice">
                                <label class="govuk-label govuk-checkboxes__label" for="stage-procedure">
                                    Withdrawn (0)
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="stage-written" name="stage" type="checkbox"
                                    value="Written representations">
                                <label class="govuk-label govuk-checkboxes__label" for="stage-written">
                                    Awaiting review (2)
                                </label>
                            </div>

                        </div>
            </fieldset>
    </div>
    <div class="govuk-grid-column-one-third"></div>
    </div>



    </fieldset>
    </form>

    <a href="" class="govuk-button filters-button" style="margin-top:20px">
        Apply filters
    </a>
    </div>

</details>