{% extends "user-testing/bo-redesign/v2/layouts/back-office.html" %}
{% set currentArea = "cases" %}
{% set currentPage = "overview" %}

{% block content %}



<div class="govuk-grid-row">

  <div class="govuk-grid-column">

  <a href="/user-testing/bo-redesign/v2/back-office/cases" class="govuk-back-link">Back to all applications</a>
  
  {% include "/user-testing/bo-redesign/v2/components/side-nav/side-nav.njk" %}
    <span class="govuk-caption-l">CROWN/2025/0000073</span>
    <h1 class="govuk-heading-l">Overview</h1>

     {% from "/user-testing/bo-redesign/v2/components/manage-tables/dates-table.njk" import
        datesTable %}

        {% set rows = [
        
        {
        "key": "Application description",
        "value": "Construction of a new government office complex comprising three interconnected buildings with associated parking,
      landscaping, and secure perimeter fencing. The development will include sustainable design features such as green
      roofs, solar panels, and rainwater harvesting systems.",
        "actions": [
        {
        "text": "Change",
        "href": "",
        "visuallyHidden": "date"
        }
        ]
        },
        {
        "key": "Application type",
        "value": "Planning permission",
        "actions": [
        {
        "text": "Change",
        "href": "",
        "visuallyHidden": "date"
        }
        ]
        },
        {
        "key": "Site address",
        "value": "Plot 12, Avonvale Way, Kingsford Road, Southmere, Avonshire, AS4 9LT",
        "actions": [
        {
        "text": "Change",
        "href": "",
        "visuallyHidden": "date"
        }
        ]
        },
        {
        "key": "Site coordinates",
        "value": "Easting: 369823
Northing: 023698",
        "actions": [
        {
        "text": "Change",
        "href": "",
        "visuallyHidden": "date"
        }
        ]
        },
        {
        "key": "Site area (ha)",
        "value": "2",
        "actions": [
        {
        "text": "Change",
        "href": "",
        "visuallyHidden": "date"
        }
        ]
        },
        {
        "key": "Expected submission date",
        "value": "20 November 2025",
        "actions": [
        {
        "text": "Change",
        "href": "",
        "visuallyHidden": "date"
        }
        ]
        },
        {
        "key": "Decision outcome",
        "value": "-",
        "actions": [
        {
        "text": "Change",
        "href": "",
        "visuallyHidden": "date"
        }
        ]
        },
        {
        "key": "Decision date",
        "value": "-",
        "actions": [
        {
        "text": "Change",
        "href": "",
        "visuallyHidden": "date"
        }
        ]
        }
        ] %}

        {{ datesTable(rows) }}
  </div>
  
   <h3 class="govuk-heading-s">External links</h3>
    <ul class="govuk-list ">
      <li class="govuk-link">
        <a class="external" href="https://pinso365.sharepoint.com/sites/CrownDevelopmentsDevSite1/Crown%20Developments/Forms/AllItems.aspx?FolderCTID=0x0120002AEB4E42385D4248BC40ED69E7C865EE&id=%2Fsites%2FCrownDevelopmentsDevSite1%2FCrown%20Developments%2FCROWN%2D2026%2D0000076" {% if currentPage == 'documents' %} aria-current="location" {% endif %}>Documents (SharePoint)</a>
      </li>
       <li class="govuk-link">
        <a class="external" href="" {% if currentPage == 'notify' %} aria-current="location" {% endif %}>GovNotify</a>
      </li>
    </ul>
</div>
   

    
{% endblock %}