{% extends "layouts/main.njk" %}
{% set serviceName %}
Crown Developments prototype
{% endset%}

{% block content %}

  <h1 class="govuk-heading-xl">Distressing content warning</h1>

  <h2 class="govuk-heading-l">Documents</h2>

  <div class="govuk-tabs" data-module="govuk-tabs">
    <h3 class="govuk-tabs__title">
      Contents
    </h3>
    <ul class="govuk-tabs__list">
<li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#version-1">
          Version 1
        </a>
      </li>
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#version-2">
          Version 2
        </a>
      </li>
      
    </ul>

    <div class="govuk-tabs__panel" id="version-2">
      <h3 class="govuk-heading-m">Version 2</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Settled on blue Important banner based on Comms feedback</li>
        <li>Finalised content</li>
        <li>
          <a href="https://app.mural.co/t/allpins6990/m/allpins6990/1767863342296/1a53aafed5c905ae20db5f4a21d8b05d5d122d10">Mural link
          </a>
        </li>
      </ul>
      <a href="v2" class="govuk-button">Link to prototype</a>

    </div>

    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="version-1">
      <h3 class="govuk-heading-m">Version 1 wireframes</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Distressing content warning to flag where documents may contain distressing content.</li>
      </ul>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/features/distressing-content/documents/v1-option-1.html" class="govuk-link">
            Option 1</a>
        </li>
        <li>
          <a href="/features/distressing-content/documents/v1-option-2.html" class="govuk-link">
            Option 2</a>
        </li>
        <li>
          <a href="/features/distressing-content/documents/v1-option-3.html" class="govuk-link">
            Option 3</a>
        </li>
      </ul>
    </div>

  </div>

  <h2 class="govuk-heading-l">Documents</h2>

  <div class="govuk-tabs" data-module="govuk-tabs">
    <h3 class="govuk-tabs__title">
      Contents
    </h3>
    <ul class="govuk-tabs__list">

      <!--<li class="govuk-tabs__list-item govuk-tabs__list-item--selected"> <a class="govuk-tabs__tab" href="#version-2"> Version 2 </a> </li>-->
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#version-1">
          Version 1
        </a>
      </li>
    </ul>

    <!--<div class="govuk-tabs__panel" id="version-2"> <h3 class="govuk-heading-m">Version 2</h3> <ul class="govuk-list govuk-list--bullet"> <li></li> </ul> <a href="v2" class="govuk-button">Link to prototype</a> </div>-->

    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="version-1">
      <h3 class="govuk-heading-m">Version 1</h3>
      <p class="govuk-body">Front office and back office implementation of the distressing content warning.</p>

       <h4 class="govuk-heading-s">Front office</h4>
       <a href="reps/front-office" class="govuk-button">Link to prototype</a>


      <h4 class="govuk-heading-s">Back office</h4>

      
      <ul class="govuk-list">
        <li>
          <a href="reps/back-office-view-rep" class="govuk-link">
            View rep</a>
        </li>
         <li>
          <a href="reps/back-office-option-1" class="govuk-link">
            Option 1 - Additional radios</a>
        </li>
        <li>
          <a href="reps/back-office-option-2" class="govuk-link">
            Option 2 - Warning banner</a>
        </li>
        <li>
          <a href="reps/back-office-view-rep-3" class="govuk-link">
            Option 3 - review - separate pages</a> 
            <a href="reps/back-office-option-3b" class="govuk-link">
            Option 3a</a>
            <a href="reps/back-office-option-3b" class="govuk-link">
            Option 3b</a>
        </li>
      </ul>
    </div>

  </div>

{% endblock %}