{% extends "layouts/front-office.html" %}

{% set pageName = "Home" %}

{% block beforeContent %}



<!-- Full-width teal banner -->
<div style="width:100vw; margin-left:calc(-50vw + 50%); background:#00847E;">
    <div class="govuk-width-container">
        <br>
        <div style="width: 60%;">
        <h1 style="color:white" class="govuk-heading-xl pins-info-heading">
            Welcome to Find a Crown Development application
        </h1>
        

            <p style="color:white" class="govuk-body pins-info-body">
                Here you can find more information about Crown development applications. These are planning applications
                for
                non-urgent, nationally important developments made by Crown bodies (including Other Government
                Departments).
            </p>
            <p style="color:white" class="govuk-body pins-info-body">
                This site is managed by the Planning Inspectorate, the government agency responsible for handling Crown
                development applications.
            </p>
        </div>
        <br>
    </div>
</div>
<div class="govuk-width-container">
    {% endblock %}

    {% block content %}

    <main class="govuk-main-wrapper" id="main-content" style="margin-top: 0px; padding-top: 0px;">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l">
                    All Crown Development applications
                </h2>
            </div>
            <div class="govuk-grid-column-full">

                <div class="pins-table__container" role="region">
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Application reference</th>
                                <th scope="col" class="govuk-table__header">Applicant name</th>
                                <th scope="col" class="govuk-table__header">Local planning authority</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">
                                    <a class="govuk-link"
                                        href="/applications/194fbc93-7f27-435e-9e97-6de8166df211/application-information">
                                        CROWN/<wbr>2025/<wbr>0000057
                                    </a>
                                </th>

                                <td class="govuk-table__cell">Department for Sustainable Infrastructure and Regional
                                    Equity (DSIRE)</td>
                                <td class="govuk-table__cell">North Wessex Planning Partnership (NWPP)</td>

                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">
                                    <a class="govuk-link"
                                        href="/applications/0556d736-3ccb-4964-89d3-a3895f8c3a4c/application-information">
                                        CROWN/<wbr>2025/<wbr>0000051
                                    </a>
                                </th>

                                <td class="govuk-table__cell">Office for Community Resilience and Urban Futures (OCRUF)
                                </td>
                                <td class="govuk-table__cell">South Fenwick Borough Council</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}