{% extends "layouts/back-office.html" %}

{% block content %}

    <a href="javascript:history.back()" class="govuk-back-link" style="margin:0px">Back</a>

    <main class="govuk-main-wrapper" id="main-content">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">Remove applicant</h1>

                <p class="govuk-body">Removing this organisation will also remove any linked contacts. You will not be able to undo this.</p>

                {{ govukInsetText({
            html: "Department for Environment, Food & Rural Affairs<br>
                    Seacole Building<br>
                    2 Marsham Street<br>
                    London<br>
                    SW1P 4DF"
            }) }}

                <a href="3-remove-org" class="govuk-button govuk-button--warning">
                    Remove applicant
                </a>
                <a href="1-remove-org" class="govuk-button govuk-button--secondary">
                    Cancel
                </a>

            </div>
        </div>

    {% endblock %}