{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ govukPanel({
                titleText: "Comment submitted",
                html: "Your reference number<br><strong>HDJ2123F</strong>"
            }) }}

            <p>We’ve received your comment.</p>

            <p>We’ve sent your reference number by email and will contact you if we need more information about your comment or supporting documents.</p>


            <h2 class="govuk-heading-m">
                What happens next
            </h2>

            <p>At the end of this written representation period, we’ll update the website with the procedure that the application will follow.</p>

            <p>The Planning Inspectors will decide on one of the following procedures:</p>
              
            <p class="govuk-label">Written representation</p>
            <p class="govuk-hint">If this procedure is chosen, we’ll invite you to make a further comment.</p>

            <p class="govuk-label">Inquiry</p>
            <p class="govuk-hint">f this procedure is chosen, we’ll contact you with details of the inquiry date and location.</p>

            <p class="govuk-label">Hearing</p>
            <p class="govuk-hint">If you’ve requested in your comment to attend the hearing, we’ll contact you with details of the hearing date and location.</p>

          <p> </p>
        
                <a href="#">
                    Go back to the application information page
                </a>
            </p>


        </div>
    </div>

{% endblock %}
