{% extends "layouts/main.njk" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Declaration
            </h1>

            <form class="form" action="/confirmation" method="post">

                <p>
                    By submitting this form you are commenting on the application.   

                <p>Your comments will be taken into account before the application is determined. 
                     
                <p>You are agreeing that we will use your details to contact you about the application. 

                <p>You are also agreeing that all comments you submit, along with your name, and any represented party’s
                    names will be published on this website. No contact details will be made public. 
                </p>

                {{ govukButton({
                    text: "Submit"
                }) }}

            </form>

        </div>
    </div>

{% endblock %}
