{% extends "layouts/main.njk" %}

{% set pageName = "Home" %}

{% block content %}

  <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">Crown Developments prototype</h1>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Prototypes
      </h2>
      <!--tab headings-->
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#current-service">Current service</a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#features">Upcoming features</a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#user-testing">User testing</a>
        </li>
      </ul>
      <!--tab content-->

      <!--CURRENT SERVICE-->
      <div class="govuk-tabs__panel" id="current-service">
        <h2 class="govuk-heading-l">Current service</h2>
        <p class="govuk-body">Prototype version of the service: data is not stored and some features may not work.</p>
        <h3 class="govuk-heading-m">Front office</h3>
        <h4 class="govuk-heading-s">Main site</h4>
        <ul class="govuk-list">
          <li>
            <a href="current-service/front-office/applications">Homepage (All Crown Development applications)</a>
          </li>
          <li>
            <a href="current-service/front-office/detailed-information">Detailed information</a>
          </li>
          <li>
            <a href="current-service/front-office/terms-and-conditions">Terms and conditions</a>
          </li>
          <li>
            <a href="current-service/front-office/accessibility-statement">Accessibility statement
            </a>
          </li>
          <li>
            <a href="current-service/front-office/cookies">Cookies</a><br>
            <a href="current-service/front-office/cookies-success">Cookies - success message</a>
          </li>
          <li>
            <a href="current-service/front-office/contact">Contact
            </a>
          </li>
        </ul>
        <h4 class="govuk-heading-s">Application information</h4>
        <ul class="govuk-list">
          <li>
            <a href="current-service/front-office/application-information/application-information">Application information</a>
          </li>
          <li>
            <a href="current-service/front-office/application-information/documents">Documents
            </a>
          </li>
          <li>
            <details class="govuk-details govuk-!-margin-0">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Have your say
                </span>
              </summary>
              <div class="govuk-details__text">
                <ol class="govuk-list govuk-list--number">
                  <li>
                    <a href="current-service/front-office/have-your-say/01-have-your-say-on-a-crown-development-application.html">Have your say on a Crown Development Application</a>
                  </li>
                  <li>
                    <a href="current-service/front-office/have-your-say/02-who-are-you-submitting-a-representation-for.html">Who are you submitting a representation for?</a>
                  </li>
                  <li>
                    <a href="current-service/front-office/have-your-say/03-who-are-you-representing.html">Who are you representing?</a>
                  </li>
                  <li>
                    <a href="current-service/front-office/have-your-say/04-what-is-your-name.html">What is your name?</a>
                  </li>
                  <li>
                    <a href="current-service/front-office/have-your-say/05-what-is-your-email-address.html">What is your email address?</a>
                  </li>
                  <li>
                    <a href="current-service/front-office/have-your-say/06-what-is-the-name-of-your-organisation-or-charity.html">What is the name of your organisation or charity?</a>
                  </li>
                  <li>
                    <a href="current-service/front-office/have-your-say/07-are-you-acting-as-an-agent-on-behalf-of-a-client.html">Are you acting as an agent on behalf of a client?</a>
                  </li>
                  <li>
                    <a href="current-service/front-office/have-your-say/08-what-is-your-job-title-or-volunteer-role.html">What is your job title or volunteer role?</a>
                  </li>
                  <li>
                    <a href="current-service/front-office/have-your-say/09-what-is-the-name-of-the-organisation-you-work-for.html">What is the name of the organisation you work for?</a>
                  </li>
                  <li>
                    <a href="current-service/front-office/have-your-say/10-what-is-your-email-address.html">What is your email address?</a>
                  </li>
                  <li>
                    <a href="current-service/front-office/have-your-say/11-what-is-the-name-of-the-person-you-are-representing.html">What is the name of the person you are representing?</a>
                  </li>
                  <li>
                    <a href="current-service/front-office/have-your-say/12-what-is-the-full-name-of-the-organisation-or-charity-that-you-are-representing.html">What is the full name of the organisation or charity that you are representing?</a>
                  </li>
                  <li>
                    <a href="current-service/front-office/have-your-say/13-what-do-you-want-to-say-about-this-application.html">What do you want to say about this application?</a>
                  </li>
                  <li>
                    <a href="current-service/front-office/have-your-say/14-do-you-want-to-include-any-supporting-documents-with-your-comment.html">Do you want to include any supporting documents with your comment?</a>
                  </li>
                  <li>
                    <a href="current-service/front-office/have-your-say/15a-upload-supporting-documents.html">Upload supporting documents (empty)</a>
                    <br>
                    <a href="current-service/front-office/have-your-say/15b-upload-supporting-documents-uploading.html">Upload supporting documents (uploading)</a>
                    <br>
                    <a href="current-service/front-office/have-your-say/15c-upload-supporting-documents-uploaded.html">Upload supporting documents (uploaded)</a>
                  </li>
                  <li>
                    <a href="current-service/front-office/have-your-say/16-check-your-answers.html">Check your answers</a>
                  </li>
                  <li>
                    <a href="current-service/front-office/have-your-say/17-declaration.html">Declaration</a>
                  </li>
                </ol>
              </div>
            </details>
          </li>
          <li>
            <a href="current-service/front-office/application-information/application-updates">Application updates</a>
          </li>
          <li>
            <a href="current-service/front-office/application-information/written-representations">Written representations</a>
          </li>
        </ul>

        <h3 class="govuk-heading-m">Back office</h3>

        <ul class="govuk-list">
          <li class="govuk-body">
            <a href="current-service/back-office/cases/cases" class="govuk-link">Cases</a>
          </li>
          <li>
            <details class="govuk-details govuk-!-margin-0">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Create a new case
                </span>
              </summary>
              <div class="govuk-details__text">
                <ol class="govuk-list govuk-list--number">
                  <li>
                    <a href="current-service/back-office/cases/create-a-case/1-type-of-application">What type of application is it?</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/create-a-case/2-local-planning-authority">Select the Local Planning Authority for this application</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/create-a-case/3-applicant-name">What is the name of the Applicant organisation?</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/create-a-case/4-applicant-address">What is the address of the Applicant?</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/create-a-case/5-has-agent">Is the applicant using an agent?</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/create-a-case/6-agent-name">What is the name of the Agent organisation?</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/create-a-case/7-agent-address">What is the address of the Agent?</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/create-a-case/8-agent-email">What is the email address of the Agent?</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/create-a-case/9-agent-telephone-number">What is the telephone number of the Agent?</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/create-a-case/10-applicant-email">What is the email address of the Applicant?</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/create-a-case/11-applicant-telephone-number">What is the telephone number of the Applicant?</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/create-a-case/12-site-address">What is the address of the site?</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/create-a-case/13-site-coordinates">What are the coordinates of the site?</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/create-a-case/14-site-area">What is the area of the site in hectares?</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/create-a-case/15-development-description">What is the description of the development?</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/create-a-case/16-expected-date-of-submission">What is the expected date of submission?</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/create-a-case/17-check-your-answers">Check your answers</a>
                  </li>
                </ol>
              </div>
            </details>
          </li>
          <li class="govuk-body">
            <a href="current-service/back-office/manage-application" class="govuk-link">Manage application</a>
          </li>
          <li>
            <details class="govuk-details govuk-!-margin-0">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Application updates
                </span>
              </summary>
              <div class="govuk-details__text">
                <ol class="govuk-list">
                  <li>
                    <a href="current-service/back-office/cases/view/application-updates/application-updates">Manage application updates</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/view/application-updates/create-update/update-details">Create: update details</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/view/application-updates/create-update/publish-now">Create: publish now?</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/view/application-updates/create-update/review-update">Create: review update</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/view/application-updates/review-draft">Review draft</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/view/application-updates/delete-update">Delete draft</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/view/application-updates/review-draft">Review published</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/view/application-updates/unpublish">Unpublish published</a>
                  </li>
                  <li>
                    <a href="current-service/back-office/cases/view/application-updates/review-draft">Review unpublished</a>
                  </li>
                </ol>
              </div>
            </details>
          </li>
          <h4 style="padding-top:10px; margin-bottom:6px" class="govuk-heading-s">Written representations</h4>
          <li class="govuk-body">
            <a href="current-service/back-office/cases/view/manage-reps/manage-reps" class="govuk-link">Manage reps</a>
          </li>
          <li class="govuk-body">
            <a href="current-service/back-office/cases/view/manage-reps/view-representation" class="govuk-link">View representation</a>
          </li>
          <li class="govuk-body">
            <a href="current-service/back-office/cases/view/manage-reps/reinstate-representation/view-withdrawn-representation" class="govuk-link">View withdrawn representation</a>
          </li>
          <li class="govuk-body">
            <a href="current-service/back-office/cases/view/manage-reps/reinstate-representation/reinstate-representation" class="govuk-link">Reinstate withdrawn representation</a>
          </li>

          <li>
            <details class="govuk-details govuk-!-margin-0">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Withdraw representation
                </span>
              </summary>
              <div class="govuk-details__text">
                <ol class="govuk-list">
                  <a href="current-service/back-office/cases/view/manage-reps/withdraw-representation/date-received">Date recieved</a>
                </li>
              </ol>
            </div>
          </details>
        </li>
        <li>
          <details class="govuk-details govuk-!-margin-0">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Review representation
              </span>
            </summary>
            <div class="govuk-details__text">
              <ol class="govuk-list">
                <li class="govuk-body">
                  <a href="current-service/back-office/cases/view/manage-reps/review-representation/review-representation" class="govuk-link">Review representation</a>
                </li>
                <li class="govuk-body">
                  <a href="current-service/back-office/cases/view/manage-reps/review-representation/task-list" class="govuk-link">Task list (incomplete)</a>
                </li>
                <li class="govuk-body">
                  <a href="current-service/back-office/cases/view/manage-reps/review-representation/comment" class="govuk-link">Review decision</a>
                </li>
                <li class="govuk-body">
                  <a href="current-service/back-office/cases/view/manage-reps/review-representation/task-list" class="govuk-link">Task list (accepted)</a>
                </li>
                <li class="govuk-body">
                  <a href="current-service/back-office/cases/view/manage-reps/review-representation/task-list" class="govuk-link">Task list (rejected)</a>
                </li>
                <li class="govuk-body">
                  <a href="current-service/back-office/cases/view/manage-reps/review-representation/redact" class="govuk-link">Redact representation</a>
                </li>
                <li class="govuk-body">
                  <a href="current-service/back-office/cases/view/manage-reps/review-representation/redact-check" class="govuk-link">Redact check</a>
                </li>
              </li>
            </ol>
          </div>
        </details>
      </li>
      <li>
        <details class="govuk-details govuk-!-margin-0">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Edit representation
            </span>
          </summary>
          <div class="govuk-details__text">
            <ol class="govuk-list">
              <li>
                <a href="current-service/back-office/cases/view/manage-reps/edit-representation/0-date-received">Date received</a>
              </li>
              <li>
                <a href="current-service/back-office/cases/view/manage-reps/edit-representation/01-rep-type">Type of rep</a>
              </li>
              <li>
                <a href="current-service/back-office/cases/view/manage-reps/edit-representation/02-who-are-you-submitting-a-representation-for.html">Who are you submitting a representation for?</a>
              </li>
              <li>
                <a href="current-service/back-office/cases/view/manage-reps/edit-representation/03-who-are-you-representing.html">Who are you representing?</a>
              </li>
              <li>
                <a href="current-service/back-office/cases/view/manage-reps/edit-representation/04-what-is-your-name.html">What is your name?</a>
              </li>
              <li>
                <a href="current-service/back-office/cases/view/manage-reps/edit-representation/05-what-is-your-email-address.html">What is your email address?</a>
              </li>
              <li>
                <a href="current-service/back-office/cases/view/manage-reps/edit-representation/06-what-is-the-name-of-your-organisation-or-charity.html">What is the name of your organisation or charity?</a>
              </li>
              <li>
                <a href="current-service/back-office/cases/view/manage-reps/edit-representation/07-are-you-acting-as-an-agent-on-behalf-of-a-client.html">Are you acting as an agent on behalf of a client?</a>
              </li>
              <li>
                <a href="current-service/back-office/cases/view/manage-reps/edit-representation/08-what-is-your-job-title-or-volunteer-role.html">What is your job title or volunteer role?</a>
              </li>
              <li>
                <a href="current-service/back-office/cases/view/manage-reps/edit-representation/09-what-is-the-name-of-the-organisation-you-work-for.html">What is the name of the organisation you work for?</a>
              </li>
              <li>
                <a href="current-service/back-office/cases/view/manage-reps/edit-representation/10-what-is-your-email-address.html">What is your email address?</a>
              </li>
              <li>
                <a href="current-service/back-office/cases/view/manage-reps/edit-representation/11-what-is-the-name-of-the-person-you-are-representing.html">What is the name of the person you are representing?</a>
              </li>
              <li>
                <a href="current-service/back-office/cases/view/manage-reps/edit-representation/12-what-is-the-full-name-of-the-organisation-or-charity-that-you-are-representing.html">What is the full name of the organisation or charity that you are representing?</a>
              </li>
              <li>
                <a href="current-service/back-office/cases/view/manage-reps/edit-representation/13-what-do-you-want-to-say-about-this-application.html">What do you want to say about this application?</a>
              </li>
              <li>
                <a href="current-service/back-office/cases/view/manage-reps/edit-representation/14-do-you-want-to-include-any-supporting-documents-with-your-comment.html">Do you want to include any supporting documents with your comment?</a>
              </li>
              <li>
                <a href="current-service/back-office/cases/view/manage-reps/edit-representation/13a-hearing.html">Would you like to be heard at a hearing?</a>
              </li>
              <li>
                <a href="current-service/back-office/cases/view/manage-reps/edit-representation/15a-upload-supporting-documents.html">Upload supporting documents (empty)</a>
                <br>
                <a href="current-service/back-office/cases/view/manage-reps/edit-representation/15b-upload-supporting-documents-uploading.html">Upload supporting documents (uploading)</a>
                <br>
                <a href="current-service/back-office/cases/view/manage-reps/edit-representation/15c-upload-supporting-documents-uploaded.html">Upload supporting documents (uploaded)</a>
              </li>
              <li>
                <a href="current-service/back-office/cases/view/manage-reps/edit-representation/16-check-your-answers.html">Check your answers</a>
              </li>
              <li>
                <a href="current-service/back-office/cases/view/manage-reps/edit-representation/17-declaration.html">Declaration</a>
              </li>
              <li>
                <a href="current-service/back-office/cases/view/manage-reps/edit-representation/18-success.html">Success</a>
              </li>
            </li>
      </ul>
      </div>


<!--FEATURES-->

<div class="govuk-tabs__panel" id="features">
  <ul class="govuk-task-list">
    <h2 class="govuk-heading-l">Upcoming features</h2>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Deployed
        </span>
      </summary>
      <div class="govuk-details__text">

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="features/application-updates/index.html">Application updates</a>
            <div class="govuk-task-list__hint">Add ability for back office users to update front office users with updates about an application</div>
          </div>

        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="features/application-stages/index.html">Application stages</a>
            <div class="govuk-task-list__hint">Application stages accordion designs</div>
          </div>

        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="features/rep-submission-method/index.html">Representation submission method monitoring</a>
            <div class="govuk-task-list__hint">Way to identify how a representation was submitted to monitor digital take up for the service.</div>
          </div>
          <div class="govuk-task-list__status">
            <strong class="govuk-tag govuk-tag--blue">In progress</strong>
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="features/service-headers/index.html">Service headers redesign</a>
            <div class="govuk-task-list__hint">Redesign of service header and footers to be consistent with other PINS services.</div>
          </div>
          <div class="govuk-task-list__status">
            <strong class="govuk-tag govuk-tag--blue">In progress</strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="features/change-procedure/index.html">Procedure type hint text</a>
            <div class="govuk-task-list__hint">Add warning/hint message to back office<br>
              procedure question</div>
          </div>

        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="copy-changes/unpublish-banners/index.html">Unpublish banners</a>
            <div class="govuk-task-list__hint">Changing back office unpublish and publish success panels to notification banners<br>
              procedure question</div>
          </div>

        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="features/filters/index.html">Filters</a>
            <div class="govuk-task-list__hint">Front office filters for applications and written representations</div>
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="features/withdrawn-application/index.html">Withdrawn applications</a>
            <div class="govuk-task-list__hint">Front office updates when an application is withdrawn</div>
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="features/rep-submission-method/index.html">Representation submission method monitoring</a>
            <div class="govuk-task-list__hint">Identify how a representation was submitted to monitor digital take up for the service.</div>
          </div>
        </li>

      </ul>
     

    </details>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          In development
        </span>
      </summary>
      <div class="govuk-details__text">
        
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="features/words-we-use/index.html">Words we use</a>
            <div class="govuk-task-list__hint">Add words we use page to detailed information page</div>
          </div>

        </li>

       

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="features/column-removal/index.html">Column removal</a>
            <div class="govuk-task-list__hint">Resolve accessibility issue with hidden table columns due to 2D scrolling</div>
          </div>

        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="features/multiple-entities/index.html">Multiple entities</a>
          <div class="govuk-task-list__hint">Multiple LPAs, applicants and agents.</div>
        </div>
        <div class="govuk-task-list__status">
          <strong class="govuk-tag govuk-tag--blue">In progress</strong>
        </div>
      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="features/distressing-content/index.html">Distressing content warning</a>
          <div class="govuk-task-list__hint">Flag where documents may contain distressing content.</div>
        </div>
        <div class="govuk-task-list__status">
          <strong class="govuk-tag govuk-tag--blue">In progress</strong>
        </div>
      </li>

        
      </details>

      

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="features/document-filters/index.html">Document filters</a>
          <div class="govuk-task-list__hint">Adding front office document filtering options.</div>
        </div>
        <div class="govuk-task-list__status">
          <strong class="govuk-tag govuk-tag--blue">In progress</strong>
        </div>
      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="features/lpa-questionnaire/index.html">LPA questionnaire/special developments</a>
          <div class="govuk-task-list__hint">Designing validation to set case as special vs regular to trigger LPA questionnaire email</div>
        </div>
        <div class="govuk-task-list__status">
          <strong class="govuk-tag govuk-tag--blue">In progress</strong>
        </div>
      </li>

    </ul>

  </div>

  <!--USER TESTING-->
  <div class="govuk-tabs__panel" id="user-testing">
    <ul class="govuk-task-list">
      <h2 class="govuk-heading-l">User testing</h2>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="user-testing/a-b-edit-published-update">A/B testing: Editing published update</a>
          <div class="govuk-task-list__hint">Design options where a user is editing a published update but does not make any changes.</div>
        </div>
        <div class="govuk-task-list__status">
          <strong class="govuk-tag govuk-tag--green">Complete</strong>
        </div>
      </li>
    </ul>
  </div>

</div>

</div>

{% endblock %}