{% extends "layouts/question.njk" %}

{% block question %}
    {{ govukRadios({
        name: "who-are-you-submitting-for",
        fieldset: {
            legend: {
                text: "Who are you submitting a representation for?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        items: [
            {
                value: "Myself",
                text: "Myself"
            },
            {
                value: "other",
                text: "On behalf of another person or an organisation"
            }
        ]
    }) }}
{% endblock %}
