{% extends "layouts/question.njk" %}

{% block question %}
    <h1 class="govuk-heading-l">
        What do you want to say about this application?
    </h1>

    <p class="govuk-body">
        Your comments must be about what you consider to be the main issues and impacts relating to planning
        matters.
    </p>
    <p class="govuk-body">
        All representations made in connection with the proposed development will be made publicly available
        on the website.
    </p>

    <p class="govuk-body">
        The name of the individual author or organisation will be published however addresses, signatures
        and contact details will not be published.
    </p>

    <p class="govuk-body">
        In the event that a hearing is scheduled, and you would wish to speak at the hearing, you must make
        this request at the time you submit your written representations.
    </p>

    <p class="govuk-body">
        If you wish to include documents or photographs as part of your comments, you must send them to <a
                href="mailto:crownapplications@planninginspectorate.gov.uk">crownapplications@planninginspectorate.gov.uk</a>
        and include your name, application reference number and site address in the subject line.
    </p>

    <p class="govuk-body">
        Your representation reference number will be provided upon submitting this form.
    </p>

    {{ govukTextarea({
        name: "written-representation",
        label: {
            text: "Application comments",
            classes: "govuk-label govuk-!-font-weight-bold",
            isPageHeading: true
        }
    }) }}

    {% set details %}
        <p>Use of language, hyperlinks and sensitive information</p>

        <p>
            You should not use racist, inflammatory or abusive language, or include sensitive information (also called
            special category information) about yourself or others in your comments.
            Do not include links to third party websites. You can include links to either GOV.UK or websites for
            chartered professional institutes like IEMA.
        </p>

        <p>Examples of sensitive information</p>

        <p>Sensitive information refers to:</p>
        <ul>
            <li>comments from children</li>
            <li>information relating to children</li>
            <li>information relating to health</li>
            <li>information relating to crime</li>
        </ul>

        <p>It also means any information relating to an individual's:</p>

        <ul>
            <li>race</li>
            <li>ethnic origin</li>
            <li>politics</li>
            <li>religion</li>
            <li>trade union membership</li>
            <li>genetics</li>
            <li>physical characteristics</li>
            <li>sex life</li>
            <li>sexual orientation</li>
        </ul>

    {% endset %}

    {{ govukDetails({
        summaryText: "Do not include these details",
        html: details
    }) }}
{% endblock %}
