{% extends "layouts/back-office.html" %}

{% set pageName = "CROWN/2025/0000020" %}

{% block content %}
<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="field-heading">Change update details</a>
        </li>
       
      </ul>
    </div>
  </div>
</div>

    <span class="govuk-caption-xl">CROWN/2025/0000086</span>
    <h1 class="govuk-heading-xl">Change update</h1>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    You should only change minor parts of the update such as typos. For major changes, you should create a new update.
  </strong>
</div>

<div class="govuk-form-group govuk-form-group--error">
        <h1 class="govuk-label-wrapper" id="field-heading">
            <label class="govuk-label govuk-label--l" for="more-detail">
            Update details 
        </label>
        </h1>

        

        <div id="more-detail-hint" class="govuk-hint">
        The recommended length is 1000 characters </div>

        <p id="more-detail-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> Change update details
  </p>
        <textarea class="govuk-textarea govuk-textarea--error" id="more-detail" name="moreDetail" rows="5"
        aria-describedby="more-detail-hint">Gateshead Council Response to the Secretary of State's consultation has been published.

    
</textarea>

    </div>

    <a href="manage.html" role="button" class="govuk-button govuk-button--primary"
    data-module="govuk-button">
    Continue </a>

{% endblock %}